@use 'styles/mixins/_on' as on;
@use 'styles/mixins/_screen' as screen;

.frame {
  align-items: center;
  background: var(--shop-frame-fill);
  border: 1px solid var(--border);
  border-radius: 0;
  display: flex;
  font-weight: semibold;
  height: 9rem;
  justify-content: center;
  line-height: 1rem;
  text-align: center;
  width: 100%;

  svg {
    fill: var(--shop-frame-selected);
    height: 2rem;
    width: 2rem;
    z-index: 99;
  }

  &[data-mode='framed'],
  &[data-mode='frame-with-mat'] {
    border-color: var(--shop-frame-border);
    border-width: 10px;
  }

  &[data-mode='framed'] {
    box-shadow: 0 0 0.25rem var(--shop-frame-shadow) inset;
  }

  &[data-mode='frame-with-mat'] {
    background: var(--shop-frame-mat-background);
    position: relative;

    &:after {
      background: var(--shop-frame-fill);
      box-shadow: 0 0 0.5rem var(--shop-frame-mat-shadow) inset;
      content: '';
      display: block;
      inset: 0.9rem;
      position: absolute;
      z-index: 1;
    }
  }

  @include screen.tiny {
    svg {
      height: 1.5rem;
      width: 1.5rem;
    }

    &[data-mode='frame-with-mat'] {
      &:after {
        inset: 0.65rem;
      }
    }
  }
}
