@use 'styles/mixins/_on' as on;
@use 'styles/mixins/_screen' as screen;

.breadcrumbs {
  justify-content: flex-start;
  background: var(--body);
  color: var(--text);
  display: flex;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;

  &[data-centered="true"] {
    justify-content: center;
  }

  .breadcrumb {
    display: flex;
    margin-right: 2rem;
    max-width: 100%;
    position: relative;
    width: auto;

    a {
      display: inline-block;
      transition: all 0.3s ease;

      @include on.hover {
        box-shadow:
          0 -1px var(--body) inset,
          0 -3px var(--travels-title-hover) inset;
      }
    }

    svg {
      fill: var(--text-dimmed);
      height: 0.6rem;
      width: 0.6rem;
    }

    .back {
      display: none;
      padding-right: 0.25rem;
    }

    .divider {
      color: var(--text-dimmed);
      display: block;
      position: absolute;
      right: -1.3rem;
      top: 0;
    }

    &:last-child {
      margin-right: 0;

      .divider {
        display: none;
      }
    }
  }

  @include screen.large {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  @include screen.medium {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  @include screen.small {
    padding-left: 1rem;
    padding-right: 1rem;

    .breadcrumb,
    .breadcrumb:last-child {
      display: none;

      .divider {
        display: none;
      }
    }

    .breadcrumb {
      &:nth-child(1) {
        display: inline-block;
        line-height: 1.25rem;
        margin-right: 0;
        text-align: center;

        .back {
          display: inline-block;
        }
      }
    }
  }
}
