@use 'styles/mixins/_on' as on;

.button {
  align-items: center;
  border-radius: 0.25rem;
  display: inline-block;
  letter-spacing: 1px;
  padding: 0.5rem 1rem 0.45rem;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;

  svg {
    height: 0.65rem;
    width: 0.65rem;
  }

  &[disabled] {
    border: 1px solid transparent;
    cursor: not-allowed;
  }

  &[data-mode='primary'] {
    background: var(--button);
    color: var(--button-text);

    svg {
      fill: var(--button-text);
    }

    &[disabled] {
      background: var(--button-disabled);
      border-color: var(--button-disabled-border);
      color: var(--button-disabled-text);
    }

    @include on.hover {
      background: var(--button-hover);

      &[disabled] {
        background: var(--button-disabled);
      }
    }

    @include on.active {
      background: var(--button-active);

      &[disabled] {
        background: var(--button-disabled);
      }
    }
  }

  &[data-mode='secondary'] {
    background: var(--button-secondary-background);
    color: var(--button-secondary-text);

    svg {
      fill: var(--button-secondary-text);
    }

    @include on.hover {
      background: var(--button-hover);
      color: var(--button-secondary-hover-text);
    }
  }
}
