.container {
  display: flex;
  margin-bottom: 0.25rem;

  dt {
    display: inline-block;
    margin-right: 0.25rem;

    a {
      font-size: 0.725rem;
      padding: 0.4rem 0.5rem 0.3rem;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  dd {
    position: absolute;
    visibility: hidden;
  }
}
