@use 'styles/mixins/_screen' as screen;

.masonry {
  display: grid;
  grid-auto-rows: 1rem;
  grid-gap: 1.25rem;
  grid-template-columns: repeat(3, minmax(calc(33% - 2.5rem), 1fr));
  margin: 0 auto;
  max-width: var(--max-width);
  padding: 2rem 0 4rem;
  position: relative;

  .footer {
    grid-column: 1/-1;
    padding-top: 3rem;
    text-align: center;

    button {
      padding-bottom: 0.5rem;
      padding-top: 0.575rem;
    }
  }

  @include screen.medium {
    grid-template-columns: repeat(2, minmax(calc(50% - 2.5rem), 1fr));
  }

  @include screen.compact {
    grid-template-columns: repeat(1, minmax(calc(100% - 2.5rem), 1fr));
  }
}
