@use 'styles/mixins/_screen' as screen;

.masonry {
  .items {
    display: grid;
    grid-auto-rows: 1rem;
    grid-gap: 1.25rem;
    grid-template-columns: repeat(3, minmax(calc(33% - 2.5rem), 1fr));
    margin: 0 auto;
    max-width: var(--max-width);
    padding-top: 2rem;
    position: relative;

    .item {
      display: flex;
      flex-direction: column;
      grid-row: span 16;
      position: relative;

      &:nth-child(1n + 1) {
        grid-row: span 16;
      }

      &:nth-child(2n + 1) {
        grid-row: span 19;
      }

      &:nth-child(3n + 1) {
        grid-row: span 22;
      }
    }
  }

  .footer {
    margin-top: 5rem;
    text-align: center;

    button {
      padding-bottom: 1rem;
      padding-top: 1rem;
    }
  }

  @include screen.medium {
    .items {
      grid-template-columns: repeat(2, minmax(calc(50% - 2.5rem), 1fr));
    }
  }

  @include screen.small {
    .footer {
      margin-top: 2rem;
    }
  }

  @include screen.compact {
    .items {
      grid-template-columns: repeat(1, minmax(calc(100% - 2.5rem), 1fr));
    }
  }
}
