@use 'styles/mixins/_on' as on;
@use 'styles/mixins/_screen' as screen;

.article {
  display: flex;
  flex-direction: column;
  grid-row: span 16;
  height: 100%;
  opacity: 0;
  position: relative;
  top: 3rem;
  transition: all 0.4s ease-in-out;

  &:nth-child(1n + 1) {
    grid-row: span 16;
  }

  &:nth-child(2n + 1) {
    grid-row: span 19;
  }

  &:nth-child(3n + 1) {
    grid-row: span 22;
  }

  .cover {
    display: block;
    height: 100%;
  }

  .content {
    display: block;
    padding-bottom: 1rem;
    padding-top: 1rem;
    position: relative;

    header {
      h2 {
        font-weight: 700;
        line-height: 1.6rem;
        padding-top: 0.5rem;

        a {
          box-shadow:
            0 -1px transparent inset,
            0 -3px transparent inset;
          transition: all 0.4s ease-in-out;

          @include on.hover {
            box-shadow:
              0 -1px var(--body) inset,
              0 -3px var(--travels-title-hover) inset;
          }
        }
      }
    }

    section {
      p {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.65rem;
        margin-bottom: 0;
        margin-top: 0.8rem;
      }
    }

    footer {
      display: flex;
      font-size: 0.75rem;
      font-weight: 500;
      opacity: 0.4;
      padding-top: 0.85rem;
      text-transform: uppercase;

      time {
        display: block;
      }

      span {
        display: block;
        margin-left: 1rem;
        padding-left: 0.25rem;
        position: relative;

        &:before {
          content: '•';
          display: block;
          font-size: 1rem;
          left: -0.5rem;
          line-height: 1rem;
          margin-top: -0.5rem;
          opacity: 0.6;
          position: absolute;
          top: 50%;
        }
      }
    }
  }

  &[data-in-view='true'] {
    opacity: 1;
    top: 0;
  }
}
