@use 'styles/mixins/_on' as on;
@use 'styles/mixins/_screen' as screen;

.anchor {
  padding-top: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  position: relative;
  width: 100%;

  &:before {
    background: var(--timeline-bar);
    content: '';
    height: calc(100% - 2rem);
    left: 50%;
    position: absolute;
    top: -2rem;
    width: 1px;
    z-index: 1;
  }

  .block {
    display: flex;
    height: 11rem;
    position: relative;
    width: 100%;

    .number {
      color: var(--timeline-day);
      font-size: 3.25rem;
      left: 0;
      opacity: 1;
      top: -0.25rem;
      position: absolute;
      width: 50%;
      z-index: 1;
    }

    .marker {
      background: var(--timeline-marker);
      border-radius: 50%;
      height: 1rem;
      left: 50%;
      margin-left: -0.5rem;
      position: absolute;
      width: 1rem;
      z-index: 2;
    }

    .title {
      display: block;
      opacity: 1;
      position: absolute;
      width: 22rem;

      span {
        display: block;
        margin-bottom: 0.5rem;
      }

      h4 {
        color: var(--text-dimmed);
      }
    }

    .more {
      margin-top: 1.25rem;
    }

    &:nth-child(odd) {
      justify-content: flex-end;

      .number {
        left: 0;
        padding-right: 2rem;
        right: 2rem;
        text-align: right;
      }

      .title {
        left: calc(50% + 2rem);
        text-align: left;
      }
    }

    &:nth-child(even) {
      justify-content: flex-start;

      .number {
        left: 50%;
        margin-left: 2rem;
      }

      .title {
        right: calc(50% + 2rem);
        text-align: right;
      }
    }
  }

  @include screen.smedium {
    &:before {
      left: 1rem;
    }

    .block {
      height: 13.5rem;
      flex-direction: column;

      .marker {
        left: 1rem;
      }

      .number {
        font-size: 2.75rem;
        position: relative;
        width: calc(100% - 3rem);
      }

      .title {
        margin-top: 1.25rem;
        max-width: calc(100% - 3rem);
        position: relative;
        width: auto;

        span {
          margin-bottom: 0.5rem;
        }

        .more {
          margin-bottom: 2rem;
          margin-top: 1.5rem;
        }
      }

      &:nth-child(odd) {
        justify-content: flex-start;

        .number {
          left: 3rem;
          top: -0.9rem;
          padding-right: 0;
          position: relative;
          right: auto;
          text-align: left;
          z-index: 1;
        }

        .title {
          left: 3rem;
          top: -1.5rem;
        }
      }

      &:nth-child(even) {
        .number {
          left: 3rem;
          margin-left: 0;
          right: auto;
          top: -0.9rem;
          z-index: 1;
        }

        .title {
          left: 3rem;
          right: auto;
          text-align: left;
          top: -1.5rem;
        }
      }
    }
  }
}
