@use 'styles/mixins/_on' as on;
@use 'styles/mixins/_screen' as screen;

.view {
  h1 {
    color: var(--text);
    margin: 5rem auto;
    position: relative;
  }

  .row {
    border-bottom: 1px solid var(--border);
    color: var(--text);
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
    padding-bottom: 3rem;

    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }

    .type {
      flex: 1 1 25%;
      padding: 0 2rem 0 0;

      .frame {
        width: 10rem;
      }
    }

    .description {
      flex: 1 1 75%;

      h4 {
        margin-bottom: 1rem;
        margin-top: 2rem;
      }

      p {
        line-height: 1.75rem;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          margin: 0;
          padding: 0;
          padding-bottom: 1rem;
        }
      }
    }
  }

  @include screen.small {
    padding: 9rem 1.25rem 2rem;

    .row {
      flex-direction: column;

      .type {
        display: flex;
        justify-content: center;
        padding: 0;
        padding-bottom: 2rem;
      }
    }
  }
}
