@use 'styles/mixins/_on' as on;
@use 'styles/mixins/_screen' as screen;

.container {
  background: var(--body);
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: var(--max-width);
  padding-bottom: 2rem;
  padding-top: 5.5rem;
  position: relative;

  .image {
    border-radius: 0.125rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 38rem;
    position: relative;

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  .content {
    align-items: center;
    color: var(--text);
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;

    .centered {
      .item {
        font-size: 3rem;
        line-height: 3.5rem;
        margin-bottom: 1rem;
        padding: 0 2rem;
      }

      .sizes {
        display: block;
        margin-bottom: 1.5rem;
      }

      .price {
        font-size: 1.5rem;
        margin-bottom: 2rem;

        span {
          display: block;
          font-size: 0.95rem;
          padding-bottom: 0.5rem;
        }
      }

      .frames {
        display: grid;
        grid-gap: 1.25rem;
        grid-template-columns: repeat(3, minmax(calc(33% - 2.5rem), 1fr));
        margin: 0 auto 2.25rem;
        padding: 0 4rem;
        position: relative;

        .button {
          .title {
            color: var(--text-dimmed);
            display: block;
            line-height: 1.5rem;
            margin-bottom: 0.5rem;
            margin-top: 1rem;
            transition: color 0.25s ease;
          }

          @include on.hover {
            .title {
              color: var(--text);
            }
          }

          &.selected {
            .title {
              color: var(--text);
            }
          }
        }
      }

      .checkout {
        align-items: center;
        display: flex;
        flex-direction: column;
        position: relative;

        small {
          color: var(--text-dimmed);
          margin-top: 1rem;
        }
      }

      .links {
        margin-top: 0.5rem;

        span {
          color: var(--text-dimmed);
        }

        .learn {
          color: var(--text-dimmed);
          font-size: 0.85rem;
          margin: 0 0.5rem;
          text-decoration: underline;
          text-underline-offset: 0.125rem;
        }
      }
    }
  }

  @include screen.large {
    padding-left: 1.25rem;
    padding-right: 1.25rem;

    .content {
      .centered {
        .frames {
          padding: 0 2.5rem;
        }
      }
    }
  }

  @include screen.medium {
    padding-left: 5rem;
    padding-right: 5rem;

    .content {
      .centered {
        .frames {
          grid-gap: 0.75rem;
          grid-template-columns: repeat(3, minmax(calc(33% - 1.5rem), 1fr));
          padding: 0 2rem;

          .title {
            display: flex;
            flex: 1;
          }

          .button {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            .frame {
              height: 6.5rem;
            }
          }
        }
      }
    }
  }

  @include screen.smedium {
    flex-direction: column;

    .image {
      height: auto;
      width: 100%;
    }

    .content {
      padding-top: 3rem;

      .centered {
        width: 100%;

        .item {
          padding: 0;
        }

        .frames {
          grid-gap: 1.25rem;
          grid-template-columns: repeat(3, minmax(calc(33% - 2.5rem), 1fr));

          .button {
            .frame {
              height: 10rem;
            }
          }
        }
      }
    }
  }

  @include screen.small {
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;

    .image {
      width: 100%;
    }
  }

  @include screen.compact {
    .content {
      padding-top: 2rem;

      .centered {
        .frames {
          margin: 1rem 0 3rem;
          padding: 0 1rem;

          .button {
            .frame {
              height: 8rem;
            }
          }
        }
      }
    }
  }

  @include screen.tiny {
    .content {
      .centered {
        .frames {
          .button {
            .frame {
              height: 6rem;
            }
          }
        }
      }
    }
  }

  @include screen.nano {
    .content {
      .centered {
        .frames {
          .button {
            .frame {
              height: 5rem;
              width: 5rem;
            }
          }
        }
      }
    }
  }

  @include screen.micro {
    .content {
      .centered {
        .frames {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          margin-bottom: 2rem;
          margin-top: 1rem;

          .button {
            flex: 0 0 calc(33%);
          }
        }
      }
    }
  }

  @include screen.miniscule {
    .content {
      .centered {
        .links {
          display: flex;
          flex-direction: column;

          span {
            display: none;
          }

          .learn {
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}
