@use 'styles/mixins/_on' as on;

.button {
  background: var(--button);
  border-radius: 2px;
  color: var(--button-text);
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;

  &[disabled] {
    background: var(--button-disabled);
    border: 1px solid var(--button-disabled-border);
    color: var(--button-disabled-text);
    cursor: not-allowed;
  }

  @include on.hover {
    background: var(--button-hover);

    &[disabled] {
      background: var(--button-disabled);
    }
  }

  @include on.active {
    background: var(--button-active);

    &[disabled] {
      background: var(--button-disabled);
    }
  }
}
