@use 'styles/mixins/_on' as on;
@use 'styles/mixins/_screen' as screen;

.button {
  border-radius: 0.25rem;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;

  svg {
    height: 0.65rem;
    margin-left: 0.2rem;
    position: relative;
    top: 1px;
    transform: rotate(-45deg);
    width: 0.65rem;
  }

  &[disabled] {
    border: 1px solid transparent;
    cursor: not-allowed;
  }

  &[data-mode='primary'] {
    background: var(--button);
    color: var(--button-text);

    svg {
      fill: var(--button-text);
    }

    &[disabled] {
      background: var(--button-disabled);
      border-color: var(--button-disabled-border);
      color: var(--button-disabled-text);
    }

    @include on.hover {
      background: var(--button-hover);

      &[disabled] {
        background: var(--button-disabled);
      }
    }

    @include on.active {
      background: var(--button-active);

      &[disabled] {
        background: var(--button-disabled);
      }
    }
  }

  &[data-mode='secondary'] {
    background: var(--load-more-background);
    color: var(--load-more-text);

    @include on.hover {
      background: var(--button-hover);
      color: var(--load-more-hover-text);
    }
  }

  @include screen.medium {
    padding: 1rem 1.5rem;
  }
}
