@use 'styles/mixins/_on' as on;
@use 'styles/mixins/_screen' as screen;

.dialog {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  z-index: 9999;

  &[data-renderable='true'] {
    opacity: 1;
    visibility: visible;
  }

  .box {
    background-color: #fff;
    border-radius: 0.125rem;
    color: #404040;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 18rem;

    .message {
      align-items: center;
      display: flex;
      justify-content: center;
      line-height: 1.5rem;
      padding: 2.5rem 3rem;
      text-align: center;
    }

    .buttons {
      border-top: 1px solid var(--border);
      display: flex;
      justify-content: center;
      padding: 1rem;
    }
  }

  @include screen.medium {
    .box {
      border-radius: 0.5rem;
    }
  }
}
