.link {
  color: var(--text);
  display: flex;
  padding-bottom: 0.25rem;
  position: relative;
  text-decoration: none;
  top: 0.15rem;

  svg {
    fill: var(--text);
    height: 0.65rem;
    margin-left: 0.2rem;
    position: relative;
    top: 1px;
    transform: rotate(-45deg);
    width: 0.65rem;
  }
}
