@use 'styles/mixins/_screen' as screen;
@use 'styles/mixins/_on' as on;

.header {
  background: var(--body);
  border-bottom: 1px solid var(--header-border);
  box-shadow: 0 2px 9px -1px var(--header-box-shadow);
  height: auto;
  left: 0;
  position: fixed;
  top: 0;
  transition: top 0.35s;
  width: 100%;
  z-index: 10;

  .wrapper {
    margin: 0 auto;
    max-width: var(--max-width);
    padding-left: 0.625rem;
    padding-right: 0.625rem;

    .container {
      display: flex;
      flex: initial;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: -0.625rem;
      margin-right: -0.625rem;

      .inner {
        align-items: center;
        display: flex;
        height: 4.375rem;
        position: relative;
        width: 100%;

        .logo {
          position: absolute;
          z-index: 2;

          a {
            color: var(--text);
            font-family: var(--heading-font);
            font-size: 1.875rem;
            font-weight: 700;
            line-height: 2.375rem;
          }
        }

        .nav {
          left: 0;
          position: absolute;
          right: 0;
          z-index: 1;

          .wrapper {
            align-items: center;
            display: flex;
            justify-content: center;

            .links {
              margin: 0;
              padding: 0;

              .link {
                display: inline-block;
                margin: 0 0.9375rem;

                a {
                  background: transparent;
                  border-radius: 3px;
                  color: var(--text);
                  font-size: 0.8125rem;
                  font-weight: 500;
                  letter-spacing: 0.5px;
                  line-height: 1;
                  padding: 0.3125rem 0.4375rem;
                  position: relative;
                  text-transform: uppercase;
                  transition: all 0.35s;

                  @include on.hover {
                    background: var(--nav-link-hover-background);
                    color: var(--nav-link-hover-text);
                  }
                }
              }
            }
          }
        }

        .search {
          align-items: center;
          display: flex;
          margin-left: auto;
          z-index: 2;

          svg {
            fill: var(--text);
            height: 1rem;
            width: 1.5rem;
          }
        }
      }
    }
  }

  @include screen.large {
    .wrapper {
      .container {
        .inner {
          padding: 0 1.25rem;
        }
      }
    }
  }

  @include screen.medium {
    .wrapper {
      .container {
        .inner {
          padding: 0 5rem;
        }
      }
    }
  }

  @include screen.small {
    .wrapper {
      .container {
        .inner {
          padding: 0 1.75rem;

          .nav {
            display: none;
          }

          .search {
            margin-right: 2.5rem;
          }
        }
      }
    }
  }

  @include screen.compact {
    .wrapper {
      .container {
        .inner {
          padding: 0 1.5rem;
        }
      }
    }
  }
}

.view {
  position: relative;
}
