.figure {
  height: 100%;
  opacity: 0;
  position: relative;
  top: 3rem;
  transition: all 0.4s ease-in-out;

  .image {
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease;
  }

  .caption {
    display: block;
    padding-top: 1.75rem;
    position: relative;
    text-align: left;
  }

  &[data-in-view='true'] {
    opacity: 1;
    top: 0;
  }
}
