@use 'styles/mixins/_screen' as screen;
@use 'styles/mixins/_on' as on;

.view {
  padding-top: 9rem;

  .header {
    color: var(--text);
    font-size: 2.25rem;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
  }

  .total {
    color: var(--text);
    font-size: 1rem;
    margin: 0;
    padding-bottom: 3rem;
    padding-top: 2rem;
    text-align: center;
    width: 100%;
  }
}
