@use 'src/_mixins' as *;

$content-text-color-dark: #eeeeee;
$content-text-color-light: #3d3d3d;
$content-text-color: var(--content-text-color);

$content-text-highlight-color-dark: #b6dedd;
$content-text-highlight-color-light: #b6dedd;
$content-text-highlight-color: var(--content-text-highlight-color);

$content-icon-location-color-dark: #eeeeee;
$content-icon-location-color-light: #999999;
$content-icon-location-color: var(--content-icon-location-color);

$boot-fill-dark: #dddddd;
$boot-fill-light: #3d3d3d;
$boot-fill: var(--boot-fill);

$boot-icon-fill-dark: #b6dedd;
$boot-icon-fill-light: #b6dedd;
$boot-icon-fill: var(--boot-icon-fill);

$scroll-indicator-background-dark: 29, 29, 29;
$scroll-indicator-background-light: 255, 255, 255;
$scroll-indicator-background: var(--scroll-indicator-background);

$scroll-indicator-line-background-dark: #555555;
$scroll-indicator-line-background-light: #3d3d3d;
$scroll-indicator-line-background: var(--scroll-indicator-line-background);

.theme-light {
  --content-text-color: #{$content-text-color-light};
  --content-text-highlight-color: #{$content-text-highlight-color-light};
  --content-icon-location-color: #{$content-icon-location-color-light};
  --boot-fill: #{$boot-fill-light};
  --boot-icon-fill: #{$boot-icon-fill-light};
  --scroll-indicator-background: #{$scroll-indicator-background-light};
  --scroll-indicator-line-background: #{$scroll-indicator-line-background-light};
}

.theme-dark {
  --content-text-color: #{$content-text-color-dark};
  --content-text-highlight-color: #{$content-text-highlight-color-dark};
  --content-icon-location-color: #{$content-icon-location-color-dark};
  --boot-fill: #{$boot-fill-dark};
  --boot-icon-fill: #{$boot-icon-fill-dark};
  --scroll-indicator-background: #{$scroll-indicator-background-dark};
  --scroll-indicator-line-background: #{$scroll-indicator-line-background-dark};
}

#main:has(#menu-open.pushed) {
  #introduction {
    transform: translate3d(50vw, 0, 0);

    @include small-screen {
      transform: translate3d(100vw, 0, 0);
    }
  }
}

#introduction {
	background: #c6d9d3;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: fixed;
	transform: translate3d(0, 0, 0);
	transition: all .5s ease-in-out;
	width: 100%;
	z-index: 1001;

	&.destroy {
	  transform: translate3d(0, -100vh, 0);
	}

	.background {
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
  }

  .four {
  	background-image: url(https://ik.imagekit.io/acrossthekyle/mountains-4.svg?updatedAt=1710255953904);
  	z-index: 1;
  }

  .three {
  	background-image: url(https://ik.imagekit.io/acrossthekyle/mountains-3.svg?updatedAt=1710255953860);
  	z-index: 2;
  }

  .two {
  	background-image: url(https://ik.imagekit.io/acrossthekyle/mountains-2.svg?updatedAt=1710255954244);
  	left: -10px;
    width: calc(100% + 10px);
    z-index: 3;
  }

  .one {
  	background-image: url(https://ik.imagekit.io/acrossthekyle/mountains-1.svg?updatedAt=1710255954985);
  	z-index: 4;
  }

	article {
		align-items: center;
		color: #ffffff;
	  display: flex;
	  flex-direction: column;
	  inset: 0;
	  justify-content: center;
	  overflow: hidden;
	  position: absolute;
	  width: 100%;
	  z-index: 5;

	  #pre,
	  #middle,
	  #post {
	  	display: block;
	  	font-family: 'Montserrat';
	  	text-transform: uppercase;
	  }

	  #pre {
	  	font-size: .75rem;
	  	font-weight: 500;
	  	letter-spacing: 12px;
	  	text-indent: 12px;
	  	margin-bottom: 4px;
	  }

	  #middle {
	    font-size: 6rem;
	    font-weight: 900;
	  }

	  #post {
	    font-family: 'Lato';
	    font-size: .8rem;
	    font-weight: 300;
	    letter-spacing: 2px;
	    margin-top: 10px;
	    text-indent: 2px;
	  }
	}

	@include small-screen {
		article {
			#pre {
				font-size: .75rem;
			}

		  #middle {
		  	font-size: 5rem;
		  }

		  #post {
		  	font-size: .65rem;
		  	text-align: center;
		  	word-wrap: break-word;
		  }
		}
	}

	@include tiny-screen {
		article {
			#pre {
				font-size: .65rem;
			}

		  #middle {
		  	font-size: 4.25rem;
		  }

		  #post {
		  	font-size: .6rem;
		  }
		}
	}
}
