@use 'scss/mixins/_has' as has;
@use 'scss/mixins/_theme' as theme;
@use 'scss/variables' as *;

.container {
	display: none;
	> article {
		align-items: center;
		color: #1d1d1d;
		display: flex;
		flex: 1;
		font-size: 3rem;
		font-weight: 300;
		height: 100vh;
		justify-content: center;
		line-height: 1.5;
		text-align: center;

		p {
			width: 50vw;

			span {
				color: #c34d0c;
			}
		}
	}

	section {
		nav {
			display: flex;
			flex-direction: column;
			height: 503px;
			justify-content: flex-end;
			padding: 0;
			position: sticky;
			top: calc(100vh - 100%);
			width: 224px;

			ul {
					align-items: flex-start;
					border-left: 1px solid #ddd;
					padding-left: 1rem;
					margin: 0 0 0 1.5rem;

					&:last-child {
						margin-bottom: 0;
					}

					li {
						margin-bottom: 1rem;
						position: relative;

						&:last-child {
							margin-bottom: 0;
						}

						button {
							color: #1d1d1d;
							font-family: 'Montserrat';
							font-size: .85rem;
							font-weight: 500;
							line-height: 1.25;
							text-align: left;

							@include has.mouse {
								transition: all .75s $transition-function;

								&:hover {
									transform: translateX(10px);
								}
							}
						}

						&[data-active="true"] {
							button {
								transform: translateX(10px);
							}

							&:before {
								background: #1d1d1d;
								border-radius: 50%;
								content: ' ';
								display: block;
								height: 8px;
								left: -20px;
								margin-top: -4px;
								position: absolute;
								top: 50%;
								width: 8px;
							}
						}
					}
				}
		}

		> div {
			padding-left: 224px;

			article {
				height: 100vh;
				margin: 8rem auto;
				padding: 8rem 0;
				position: relative;
				width: 68vw;

				&:last-child {
					margin-bottom: 0;
				}

				figure {
					figcaption {
						color: #1d1d1d;
						display: flex;
						flex-direction: column;
						font-family: 'Montserrat';
						left: auto;
						position: absolute;
						right: 0;
						bottom: 8rem;
						width: 18vw;

						span {
							&:nth-child(1) {
								color: #c34d0c;
								font-size: .7rem;
								font-style: italic;
								font-weight: 500;
								letter-spacing: 2px;
								margin-bottom: 24px;
								text-transform: uppercase;
							}

							&:nth-child(2) {
								font-size: 1.5rem;
								font-weight: 900;
								letter-spacing: 2px;
								line-height: 1.25;
								margin-bottom: 24px;
							}

							&:nth-child(3) {
								color: #777777;
								font-size: .75rem;
								letter-spacing: 2px;
								text-transform: uppercase;
							}
						}
					}

					div {
						align-items: center;
						bottom: 8rem;
						border: 24px solid #ccc;
						border-radius: 8px;
						display: flex;
						justify-content: center;
						left: 0;
						overflow: hidden;
						position: absolute;
						right: auto;
						text-align: right;
						top: 8rem;
						height: 200px;
						width: 100px;

						img {
							border-radius: 8px;
							height: 15rem;
							width: auto;
							transform: scale(1.2);
						}

						@include has.mouse {
							&:hover {
								img {
									transform: scale(1.4);
								}
							}
						}
					}
				}

				&:nth-child(odd) {
					figure {
						figcaption {
							border-right: none;
							left: 0;
							right: auto;
							text-align: left;
						}

						div {
				    	left: auto;
				    	right: 0;
				    }
					}
				}
			}
		}
	}
}
