@use 'scss/mixins/_has' as has;
@use 'scss/mixins/_theme' as theme;
@use 'scss/variables' as *;

.hikes {
	align-items: center;
	display: flex;
	flex-direction: column;

	.content {
		display: flex;
		position: relative;
		width: 100%;
	}

	.links {
		display: flex;
		flex-direction: column;
		height: 527px;
		justify-content: flex-end;
		left: 0px;
		// margin-top: 24px;
		padding: 24px;
		position: sticky;
		top: calc(100vh - 527px);
		width: 224px;

		.heading {
			color: #1d1d1d;
			font-family: 'Montserrat';
			font-size: .85rem;
			font-weight: 500;
			margin-bottom: 1rem;
		}

		.wrapper {
			border-left: 1px solid #ddd;
			padding-left: 16px;

			.year {
				color: #1d1d1d;
				font-family: 'Montserrat';
				font-size: .75rem;
				font-weight: 800;
			}

			.items {
				margin: .5rem 0 1rem;

				&:last-child {
					margin-bottom: 0;
				}

				li {
					margin-bottom: .75rem;
					position: relative;

					.item {
						color: #1d1d1d;
						font-family: 'Montserrat';
						font-size: .85rem;
						font-weight: 500;
						line-height: 1.25;
						text-align: left;

						@include has.mouse {
							transition: all .75s $transition-function;

							&:hover {
								transform: translateX(10px);
							}
						}
					}

					&[active="true"] {
						&:before {
							background: #1d1d1d;
							border-radius: 50%;
							content: ' ';
							display: block;
							height: 8px;
							left: -20px;
							margin-top: -4px;
							position: absolute;
							top: 50%;
							width: 8px;
						}
					}
				}
			}
		}

		.as {
			color: #1d1d1d;
			font-size: .7rem;
			margin-top: 24px;
			text-align: left;
			text-transform: uppercase;
		}
	}

	.pages {
		align-items: flex-end;
		bottom: 88px;
		display: flex;
		height: 16px;
		flex-direction: row;
		justify-content: space-between;
		position: fixed;
		right: -36px;
		transform: rotate(90deg);
		width: 144px;

		a {
			border-top: 1px solid #1d1d1d;
			color: #1d1d1d;
			font-size: .75rem;
			font-weight: 500;
			padding-top: 8px;
			text-decoration: none;
			text-transform: uppercase;

			&[active="true"] {
				border-top-width: 48px;
				transform: translateY(16px);
			}
		}
	}

	.greeting {
		article {
			align-items: center;
			color: #1d1d1d;
			display: flex;
			font-size: 3rem;
			font-weight: 300;
			height: calc(100vh - 48px);
			line-height: 1.5;
			text-align: center;
			width: 50vw;

			span {
				color: #c34d0c;
			}
		}
	}

	.hike {
		height: 75vh;
		margin-bottom: 256px;
		position: relative;
		width: 68vw;

		&:first-child {
			margin-top: 48px;
		}

		&:last-child {
			margin-bottom: 24px;
		}

		figure {
			figcaption {
				bottom: 0px;
				color: #1d1d1d;
				display: flex;
				flex-direction: column;
				font-family: 'Montserrat';
				left: auto;
				position: absolute;
				right: 0;
				width: 18vw;

				.location {
					color: #c34d0c;
					font-size: .7rem;
					font-weight: 500;
					letter-spacing: 2px;
					margin-bottom: 24px;
					text-transform: uppercase;
				}

				.name {
					font-size: 1.5rem;
					font-weight: 900;
					letter-spacing: 2px;
					line-height: 1.25;
					margin-bottom: 24px;
				}

				.stats {
					color: #777777;
					font-size: .75rem;
					letter-spacing: 2px;
					text-transform: uppercase;
				}
			}

			.image {
				align-items: center;
				bottom: 0;
				border-radius: 8px;
				display: flex;
				justify-content: center;
				left: 0;
				overflow: hidden;
				position: absolute;
				right: auto;
				top: 0;
				width: 47vw;

				img {
					transform: scale(.5);
				}

				@include has.mouse {
					&:hover {
						img {
							transform: scale(.6);
						}
					}
				}
			}
		}

		&:nth-child(odd) {
			figure {
				figcaption {
					border-right: none;
					left: 0;
					right: auto;
					text-align: right;
				}

				.image {
		    	left: auto;
		    	right: 0;
		    }
			}
		}
	}
}
