@use 'scss/mixins/_has' as has;
@use 'scss/mixins/_theme' as theme;
@use 'scss/variables' as *;

.index {
	flex: 1;
	position: relative;

	.left,
	.right {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 50%;
		z-index: 2;
	}

	.left {
		cursor: w-resize;
	}

	.right {
		cursor: e-resize;
		left: 50%;
	}

	div {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		inset: 6rem 9rem;
		opacity: 0;
		position: absolute;
		transition: opacity .7s ease, visibility .7s ease;
		visibility: hidden;
		z-index: 1;

		&[data-active="true"] {
			opacity: 1;
			visibility: visible;
		}
	}
}

.slot {
	bottom: -5rem;
	position: absolute;
	text-transform: uppercase;
	transition: bottom .5s ease;
	width: 100%;

	@include theme.value {
  	color: theme.t('text');
	}

	.link {
		align-items: flex-end;
		display: flex;
		justify-content: space-between;
		padding: .7rem;

		a {
			line-height: 1rem;
			padding-right: .25rem
		}
	}

	.settings {
		align-items: flex-start;
		border-top: 1px solid transparent;
		display: flex;
		flex-direction: column;
		height: 7rem;
		padding: .7rem;
		width: 100%;

		@include theme.value {
	  	border-color: theme.t('border');
		}

		button {
			margin-bottom: .7rem;
			text-transform: uppercase;
		}

		label {
			align-items: center;
			cursor: pointer;
			display: flex;
			flex: 1;
			margin-bottom: .5rem;
			text-transform: uppercase;

			@include theme.value {
	    	color: theme.t('text');
	  	}

			input {
				margin-right: .5rem;
				margin-top: -.1rem;

				@include theme.value {
		    	accent-color: theme.t('checkbox');
		  	}
			}
		}
	}

	&[data-settings-active="true"] {
		bottom: 0;
	}
}
