@use 'styles/mixins/_on' as on;
@use 'styles/mixins/_screen' as screen;

.view {
  position: relative;

  .heading {
    color: var(--text);
    margin: 0 auto;
    margin-bottom: 2.25rem;
    position: relative;
  }

  .paragraph {
    color: var(--text);
    line-height: 1.5;
    margin: 0 auto;
    margin-bottom: 3.25rem;
    max-width: 30rem;
    padding: 0 2rem;
    position: relative;
    text-align: center;
  }

  .grid {
    column-gap: 2rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(calc(33% - 16rem), 1fr));
    margin: 0 auto;
    max-width: var(--max-width);
    position: relative;

    .item {
      display: flex;
      flex-direction: column;
      height: 22rem;
      margin-bottom: 12rem;
      position: relative;
    }
  }

  @include screen.medium {
    .grid {
      grid-template-columns: repeat(2, minmax(calc(50% - 16rem), 1fr));
    }
  }

  @include screen.compact {
    .grid {
      grid-template-columns: repeat(1, minmax(calc(100% - 8rem), 1fr));
    }
  }
}
