@use 'src/_mixins' as *;

$trips-details-background-color-dark: #1d1d1d;
$trips-details-background-color-light: #ffffff;
$trips-details-background-color: var(--trips-details-background-color);

$trips-details-title-text-color-dark: #ffffff;
$trips-details-title-text-color-light: #1d1d1d;
$trips-details-title-text-color: var(--trips-details-title-text-color);

$trips-details-title-text-shadow-color-dark: #1a1a1a;
$trips-details-title-text-shadow-color-light: transparent;
$trips-details-title-text-shadow-color: var(--trips-details-title-text-shadow-color);

$trips-details-anchor-color-dark: #39CCC7;
$trips-details-anchor-color-light: #39CCC7;
$trips-details-anchor-color: var(--trips-details-anchor-color);

$trips-details-day-text-color-dark: #ffffff;
$trips-details-day-text-color-light: #1d1d1d;
$trips-details-day-text-color: var(--trips-details-day-text-color);

$trips-details-day-text-dimmed-color-dark: #aaaaaa;
$trips-details-day-text-dimmed-color-light: #555555;
$trips-details-day-text-dimmed-color: var(--trips-details-day-text-dimmed-color);

$trips-details-day-border-color-dark: #353535;
$trips-details-day-border-color-light: #cccccc;
$trips-details-day-border-color: var(--trips-details-day-border-color);

$trips-details-close-color-dark: #39CCC7;
$trips-details-close-color-light: #39CCC7;
$trips-details-close-color: var(--trips-details-close-color);

.theme-light {
  --trips-details-background-color: #{$trips-details-background-color-light};
  --trips-details-title-text-color: #{$trips-details-title-text-color-light};
  --trips-details-title-text-shadow-color: #{$trips-details-title-text-shadow-color-light};
  --trips-details-anchor-color: #{$trips-details-anchor-color-light};
  --trips-details-day-text-color: #{$trips-details-day-text-color-light};
  --trips-details-day-text-dimmed-color: #{$trips-details-day-text-dimmed-color-light};
  --trips-details-day-border-color: #{$trips-details-day-border-color-light};
  --trips-details-close-color: #{$trips-details-close-color-light};
}

.theme-dark {
  --trips-details-background-color: #{$trips-details-background-color-dark};
  --trips-details-title-text-color: #{$trips-details-title-text-color-dark};
  --trips-details-title-text-shadow-color: #{$trips-details-title-text-shadow-color-dark};
  --trips-details-anchor-color: #{$trips-details-anchor-color-dark};
  --trips-details-day-text-color: #{$trips-details-day-text-color-dark};
  --trips-details-day-text-dimmed-color: #{$trips-details-day-text-dimmed-color-dark};
  --trips-details-day-border-color: #{$trips-details-day-border-color-dark};
  --trips-details-close-color: #{$trips-details-close-color-dark};
}

#main:has(#trips-details-input:checked) {
  #trips-details {
    transform: translate3d(-100%, 0, 0);
    z-index: 9001;

    &::before {
      background: rgba(0, 0, 0, 0.5);
      left: -100vw;
      transition: background .5s ease-in-out, visibility .5s ease-in-out;
      visibility: visible;
      z-index: 9000;
    }

    @include small-screen {
      transform: translate3d(-100%, 0, 0);
    }
  }
}

#trips-details {
  background: $trips-details-background-color;
  height: 100%;
  right: -50%;
  position: fixed;
  top: 0;
  transition: all .5s ease-in-out;
  z-index: -1;
  width: 50%;

  > section {
    background: $trips-details-background-color;
    height: 100%;
    overflow-y: scroll;
    padding: 30px;
    position: relative;
    z-index: 9002;

    > div {
      align-items: center;
      display: flex;
      height: 30px;
      justify-content: space-between;
      margin-bottom: 25px;

      label {
        align-items: center;
        cursor: pointer;
        display: flex;
        height: 40px;
        padding: 10px 10px;
        position: relative;
        right: -10px;
        width: 40px;

        &::before {
          background: $trips-details-close-color;
          border-radius: 3px;
          content: ' ';
          display: block;
          height: 3px;
          position: absolute;
          transform: rotate(45deg);
          width: 20px;
        }

        &::after {
          background: $trips-details-close-color;
          border-radius: 3px;
          content: ' ';
          display: block;
          height: 3px;
          position: absolute;
          transform: rotate(-45deg);
          width: 20px;
        }
      }
    }
  }

  &::before {
    background: rgba(0, 0, 0, 0);
    content: ' ';
    top: 0;
    height: 100%;
    width: 200vw;
    left: -100vw;
    position: fixed;
    transition: background .5s ease-in-out, visibility .5s ease-in-out;
    visibility: hidden;
    z-index: 2000;
  }

  a {
    color: $trips-details-anchor-color;
    display: block;

    svg {
      fill: $trips-details-anchor-color;
    }
  }

  h2 {
    color: $trips-details-title-text-color;
    font: 900 20px Montserrat;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    text-shadow: 0px 5px 15px $trips-details-title-text-shadow-color;
    text-transform: uppercase;
  }

  #trips-details-map {
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
    height: 300px;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  #trips-details-gear {
    margin-bottom: 40px;
    text-align: center;
  }

  article {
    color: $trips-details-day-text-color;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-bottom: 30px;
    position: relative;
    text-transform: uppercase;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }

    &:not(:last-child)::after {
      background-color: $trips-details-day-border-color;
      bottom: 0;
      content: ' ';
      display: block;
      height: 1px;
      left: 0;
      right: 0;
      position: absolute;
    }

    h3,
    h4 {
      font: 600 15px 'Montserrat';
      margin: 0;
      padding: 0;
    }

    h3 {
      font-size: 13px;
      margin-bottom: 15px;

      span {
        color: $trips-details-day-text-dimmed-color;
        font-weight: 500;
        text-transform: lowercase;
      }
    }

    h4 {
      display: flex;
      flex-direction: row;
      padding-right: 30px;

      span {
        display: block;
      }

      .arrow {
        color: yellow;
        margin: 0 10px;
      }

      .start,
      .end {
        flex: 1 0 50%;

        .altitude {
          font-family: 'Lato';
          font-size: .85rem;
          margin-top: 15px;
          text-transform: lowercase;
        }
      }

      .faded {
        color: $trips-details-day-text-dimmed-color;
        display: block;
        font-size: .75rem;
        margin-top: 5px;
        text-transform: lowercase;
      }
    }

    .elevation {
      display: flex;
      flex-direction: column;
      padding-top: 15px;
      text-transform: lowercase;

      .up,
      .down {
        span:last-child {
          color: $trips-details-day-text-dimmed-color;
          font-size: .75rem;
          margin-top: 5px;
        }
      }

      .up {
        margin: 10px 0 5px;

        span:first-child {
          color: green;
        }
      }

      .down {
        span:first-child {
          color: red;
        }
      }
    }

    .footer {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;

      .steps {
        text-transform: lowercase;
      }

      a {
        text-transform: none;
      }
    }
  }

  @include small-screen {
    right: -100%;
    width: 100%;
  }
}
