@use 'src/_mixins' as *;

$theme-toggle-background-color-dark: #cccccc;
$theme-toggle-background-color-light: #ffffff;
$theme-toggle-background-color: var(--theme-toggle-background-color);

$theme-toggle-border-color-dark: #aaaaaa;
$theme-toggle-border-color-light: #585858;
$theme-toggle-border-color: var(--theme-toggle-border-color);

$theme-toggle-before-background-color-dark: #aaaaaa;
$theme-toggle-before-background-color-light: #585858;
$theme-toggle-before-background-color: var(--theme-toggle-before-background-color);

$theme-toggle-title-text-color-dark: #dddddd;
$theme-toggle-title-text-color-light: #585858;
$theme-toggle-title-text-color: var(--theme-toggle-title-text-color);

.theme-light {
  --theme-toggle-background-color: #{$theme-toggle-background-color-light};
  --theme-toggle-border-color: #{$theme-toggle-border-color-light};
  --theme-toggle-before-background-color: #{$theme-toggle-before-background-color-light};
  --theme-toggle-title-text-color: #{$theme-toggle-title-text-color-light};
}

.theme-dark {
  --theme-toggle-background-color: #{$theme-toggle-background-color-dark};
  --theme-toggle-border-color: #{$theme-toggle-border-color-dark};
  --theme-toggle-before-background-color: #{$theme-toggle-before-background-color-dark};
  --theme-toggle-title-text-color: #{$theme-toggle-title-text-color-dark};
}

#theme-toggle {
  background: $theme-toggle-background-color;
  border: 2px solid $theme-toggle-border-color;
  border-radius: 20px;
  cursor: pointer;
  height: 21px;
  position: relative;
  margin-right: 35px;
  transition: all 0.3s;
  width: 38px;
  z-index: 9002;

  &::before {
    background: $theme-toggle-before-background-color;
    border-radius: 20px;
    content: '';
    height: 15px;
    left: 1px;
    position: absolute;
    top: 1px;
    transition: all 0.3s;
    width: 15px;
  }

  .theme-toggle-title {
    color: $theme-toggle-title-text-color;
    display: block;
    font-size: .75rem;
    padding-left: 1rem;
    position: absolute;
    right: -3em;
    text-align: left;
    top: 2px;
  }

  &.theme-toggle-checked {
    &::before {
      left: 50%;
    }
  }
}
