@use 'styles/mixins/_on' as on;
@use 'styles/mixins/_screen' as screen;

.heading {
  margin: 0 auto 2.25rem;
  position: relative;
  text-align: center;
}

.paragraph {
  margin: 0 auto 1.5rem;
  max-width: 30rem;
  padding: 1.25rem auto 1.25rem;
  position: relative;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  margin-top: 1.25rem;
  position: relative;
}

.main {
  flex: 2;
  opacity: 1;
  padding-top: 1rem;
  transition: all 0.4s ease;

  .heading {
    line-height: 2.25rem;
    margin: 0;
    text-align: left;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;

    .stats {
      display: flex;
      flex-direction: row;
    }
  }
}

@include screen.medium {
  .container {
    flex-direction: column;
  }
}

@include screen.little {
  .main {
    .wrapper {
      .stats {
        align-items: center;
        flex-direction: column;
        padding: 0;
      }
    }
  }
}
