@use 'styles/mixins/_screen' as screen;

.legend {
  align-content: flex-start;
  flex: 1;
  margin-left: 5.25rem;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.4rem;
      padding-bottom: 0.4rem;
      position: relative;

      span:first-child {
        border-radius: 0.25rem;
        height: 1rem;
        left: -1.5rem;
        position: absolute;
        top: -1px;
        width: 1rem;
      }

      &:before {
        background: var(--packs-highlight);
        content: '';
        height: 1rem;
        left: -2.25rem;
        opacity: 0;
        position: absolute;
        transition: all 0.4s ease;
        width: 0.25rem;
      }

      &.header,
      &.total {
        span:first-child {
          border-radius: 0;
          height: auto;
          left: auto;
          position: relative;
          top: auto;
          width: auto;
        }

        small {
          visibility: hidden;
        }
      }

      &.total {
        align-items: center;

        &.bordered {
          border-top: 1px solid var(--border);
          padding-top: 0.75rem;
        }

        span {
          text-align: right;
          width: 5.5rem;
        }

        span:first-child {
          align-items: center;
          display: flex;
          flex: 2;
          justify-content: flex-end;

          svg {
            margin-right: 0.5rem;
            opacity: 0.6;
          }
        }

        small {
          visibility: visible;
        }
      }

      &[data-active='true'] {
        &:before {
          opacity: 1;
        }
      }
    }
  }

  @include screen.little {
    margin-left: 0;
    padding-left: 1.25rem;
    width: 100%;
  }

  @include screen.tiny {
    padding-right: 0;
  }
}
