@use 'styles/mixins/_on' as on;
@use 'styles/mixins/_screen' as screen;

.aside {
  display: block;
  flex: 1;
  height: calc(100vh - 4.375rem);
  overflow-y: auto;
  padding: 1rem 0;
  position: sticky;
  top: 4.375rem;
  transition: transform 0.4s ease;

  .toggle {
    align-items: center;
    background: var(--button);
    border-radius: 0.25rem;
    color: var(--button-text);
    display: none;
    height: 1.65rem;
    padding: 1rem;

    svg {
      fill: var(--button-text);
    }
  }

  .packs {
    ul {
      display: flex;
      flex: 1;
      flex-direction: column;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: flex;
        flex-direction: row;
        margin: 1rem 1rem 1rem 0;
        position: relative;

        .link {
          border-left: 0.25rem solid transparent;
          padding-left: 0;
          text-align: left;
          transition: all 0.4s ease;

          .header,
          .type {
            margin: 0;
            transition: all 0.4s ease;
          }

          &[data-active='true'] {
            border-left-color: var(--packs-highlight);
            padding-left: 0.5rem;
          }

          @include on.hover {
            border-left-color: var(--packs-highlight);
            padding-left: 0.75rem;
          }
        }
      }
    }
  }

  @include screen.medium {
    flex: unset;
    overflow-y: hidden;
    transform: translateX(-100%);
    width: 0;

    &[data-browse-packs='true'] {
      flex: 1;
      height: 100%;
      padding-bottom: 0;
      padding-left: 0;
      overflow-y: auto;
      transform: translateX(0);
      width: 100%;

      .toggle {
        display: flex;
        margin-bottom: 1rem;
        position: relatve;

        svg {
          fill: var(--button-text);
          margin-left: 0.25rem;
        }
      }
    }

    .packs {
      &.visible {
        display: flex;
        margin-bottom: 5rem;

        ul {
          li {
            margin-left: 0;
            margin-right: 0;
          }
        }
      }
    }
  }
}
