@use 'styles/mixins/_screen' as screen;

.heading {
  margin: 0 auto 2.25rem;
  position: relative;
}

.paragraph {
  margin: 0 auto 3.25rem;
  max-width: 30rem;
  position: relative;
  text-align: center;
}

.image {
  border-radius: 50%;
  height: 9.5rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 9.5rem;

  img {
    height: 120%;
  }
}

.content {
  margin: 2rem auto 0;
  max-width: 50rem;

  a {
    text-decoration: underline;
    text-underline-offset: 0.15rem;
  }
}
