@use 'styles/mixins/_screen' as screen;

[data-theme='light'] {
  --body: #ffffff;
  --border: #eeeeee;
  --button: #ffe66a;
  --button-hover: #ffdd37;
  --button-active: #ffdd37;
  --button-text: #17181e;
  --button-disabled: #fafafa;
  --button-disabled-border: #eeeeee;
  --button-disabled-text: #bbbbbb;
  --button-secondary-background: #17181e;
  --button-secondary-text: #ffffff;
  --button-secondary-hover-text: #17181e;
  --checkmark: #ffdd37;
  --copyright-text: #ffffff;
  --copyright-text-dim: #bbbbbb;
  --footer-background: #17181e;
  --footer-columns-header-after-background: #e6e6e6;
  --footer-columns-header-before-background: #17181e;
  --footer-shortcut-link-background: #17181e;
  --footer-shortcut-link-icon: #ffffff;
  --footer-shortcut-link-hover-background: #ffdd37;
  --footer-shortcut-link-hover-icon: #17181e;
  --header-border: #eeeeee;
  --header-box-shadow: rgba(0, 0, 0, 4%);
  --home-shortcut-link-background: #17181e;
  --home-shortcut-link-icon: #ffffff;
  --home-shortcut-link-hover-background: #ffdd37;
  --home-shortcut-link-hover-icon: #17181e;
  --menu-background: rgba(255, 255, 255, 0.97);
  --menu-icon-active: #2d2d2d;
  --menu-icon-dark: #2d2d2d;
  --menu-text: #2d2d2d;
  --nav-link-hover-text: #17181e;
  --nav-link-hover-background: #ffe66a;
  --packs-highlight: #ffe66a;
  --search-background: rgba(255, 255, 255, 0.9);
  --shop-frame-background: #ffffff;
  --shop-frame-mat: #ffffff;
  --shop-frame-border-white-box-shadow: #bbbbbb;
  --shop-frame-border-black-box-shadow: #444444;
  --skeleton-background: #dddbdd;
  --skeleton-background-shimmer: 255, 255, 255;
  --tag: #ffe66a;
  --tag-dark: #17181e;
  --tag-dark-text: #ffffff;
  --tag-hover: #ffdd37;
  --tag-text: #17181e;
  --text: #17181e;
  --text-dimmed: #aaaaaa;
  --text-link: #ffdd37;
  --timeline-bar: #eeeeee;
  --timeline-day: #eeeeee;
  --timeline-marker: #ffdd37;
  --travels-title-hover: #ffe66a;
  --world-marker: #f0473c;
  --world-marker-origin: #079418;
  --world-marker-private: #9c9291;
}

[data-theme='dark'] {
  --body: #1d1d1d;
  --border: #4d4d4d;
  --button: #ffdd37;
  --button-hover: #ffdd37;
  --button-active: #ffdd37;
  --button-text: #17181e;
  --button-disabled: #3d3d3d;
  --button-disabled-border: #4d4d4d;
  --button-disabled-text: #7d7d7d;
  --button-secondary-background: #ffffff;
  --button-secondary-text: #17181e;
  --button-secondary-hover-text: #17181e;
  --checkmark: #ffdd37;
  --copyright-text: #ffffff;
  --copyright-text-dim: #bbbbbb;
  --footer-background: #111111;
  --footer-columns-header-after-background: #3d3d3d;
  --footer-columns-header-before-background: #8d8d8d;
  --footer-shortcut-link-background: #111111;
  --footer-shortcut-link-icon: #ffffff;
  --footer-shortcut-link-hover-background: #ffdd37;
  --footer-shortcut-link-hover-icon: #17181e;
  --header-border: #2a2a2a;
  --header-box-shadow: rgba(0, 0, 0, 30%);
  --home-shortcut-link-background: #ffffff;
  --home-shortcut-link-icon: #17181e;
  --home-shortcut-link-hover-background: #ffdd37;
  --home-shortcut-link-hover-icon: #17181e;
  --menu-background: rgba(29, 29, 29, 0.97);
  --menu-icon-active: #ffffff;
  --menu-icon-dark: #ffffff;
  --menu-text: #ffffff;
  --nav-link-hover-text: #17181e;
  --nav-link-hover-background: #ffe66a;
  --packs-highlight: #ffe66a;
  --search-background: rgba(0, 0, 0, 0.9);
  --shop-frame-background: #ffffff;
  --shop-frame-mat: #ffffff;
  --shop-frame-border-white-box-shadow: #000000;
  --shop-frame-border-black-box-shadow: #111111;
  --skeleton-background: #2d2d2d;
  --skeleton-background-shimmer: 85, 85, 85;
  --tag: #ffe66a;
  --tag-dark: #ffffff;
  --tag-dark-text: #17181e;
  --tag-hover: #ffdd37;
  --tag-text: #17181e;
  --text: #ffffff;
  --text-dimmed: #aaaaaa;
  --text-link: #ffe66a;
  --timeline-bar: #eeeeee;
  --timeline-day: #272727;
  --timeline-marker: #ffdd37;
  --travels-title-hover: #ffe66a;
  --world-marker: #f0473c;
  --world-marker-origin: #079418;
  --world-marker-private: #9c9291;
}

:root {
  --heading-font: Lora, Georgia, Times New Roman, serif;
  --image-hover-background: rgba(0, 0, 0, 0.15);
  --max-width: 1180px;
  --shop-frame-border-fixed-white: #ffffff;
  --shop-frame-border-fixed-white-shadow-inset: #333333;
  --shop-frame-border-fixed-black: #000000;
  --shop-frame-border-fixed-black-shadow-inset: #111111;
  --shop-frame-border-fixed-mat-shadow-inset: #333333;
  --text-font: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  line-height: 1;

  &[data-cannot-overflow='true'] {
    overflow: hidden;

    #scroll-top {
      display: none;
    }
  }
}

body,
html {
  background: transparent;
  font-family: var(--text-font);
  height: 100%;
  transition: background 0.3s ease;
  width: 100%;
}

body {
  background: var(--body);
  margin: 0;

  &.cannot-overflow {
    overflow: hidden;
  }

  #__next {
    height: 100%;
  }

  a {
    background-color: transparent;
    color: var(--text);
    text-decoration: none;
  }

  button {
    -webkit-appearance: button;
    background: transparent;
    border: none;
    color: var(--text);
    cursor: pointer;
    font-family: inherit;
    font-size: 100%;
    line-height: 1;
    margin: 0;
    overflow: visible;
    padding: 0;
    text-transform: none;
    transition: color 0.3s ease;

    &::-moz-focus-inner,
    &[type='button']::-moz-focus-inner {
      border-style: none;
      padding: 0;
    }

    &:-moz-focusring,
    &[type='button']:-moz-focusring {
      outline: 1px dotted ButtonText;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--heading-font);
    font-weight: 700;
    margin: 0;
    padding: 0;
  }

  figure {
    margin: 0;
  }

  hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
  }

  img {
    border-style: none;
  }

  blockquote {
    position: relative;
    padding: 1.25rem 1.25rem 1.25rem 3.125rem;
    margin-bottom: 0;
    font-family: var(--heading-font);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.5rem;
    color: var(--text);

    &:before {
      content: '\201C';
      position: absolute;
      font-family: var(--heading-font);
      top: 0.3em;
      left: -0.01em;
      font-size: 4em;
      color: #ffe66a;
    }
  }

  [data-backdrop] {
    position: fixed;
    inset: 0;
    z-index: 700;
    background-color: var(--body);
    opacity: 0;
    transition: opacity 0.4s ease;
    pointer-events: none;
  }

  [data-backdrop-active='true'] {
    opacity: 0.9;
    pointer-events: auto;
    z-index: 900;
  }

  [data-zoom] {
    position: relative;
    z-index: 800;
    transform: none;
    transition: transform 400ms ease;
    cursor: zoom-in;
  }

  [data-zoom='true'] {
    z-index: 1000;
    cursor: zoom-out;
  }

  @include screen.small {
    blockquote {
      padding: 0.5rem;
      font-size: 1.25rem;
      line-height: 1.75rem;

      &:before {
        top: 0.3em;
        left: -0.5em;
        font-size: 3em;
      }
    }
  }
}
