@use 'scss/mixins/_has' as has;
@use 'scss/mixins/_theme' as theme;
@use 'scss/variables' as *;

.travel {
	flex: 1;
	position: relative;

	.image {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		inset: 6rem 9rem;
		position: absolute;
		z-index: 1;
	}

	.share {
		align-items: center;
		background: rgba(255, 255, 255, .75);
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		opacity: 0;
		transition: opacity .7s ease, visibility .7s ease;
		visibility: hidden;

		@include theme.value {
	  	color: theme.t('text');
		}

		h4 {
			margin-bottom: 1rem;
			text-transform: uppercase;
		}

		&[data-active="true"] {
			opacity: 1;
			visibility: visible;
		}
	}
}

.slot {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-between;

	@include theme.value {
  	color: theme.t('text');
	}

	.description {
		padding: .7rem;
	}

	.options {
		padding: .7rem;

		button {
			display: block;
			margin-bottom: .4rem;
			text-transform: uppercase;

			&:last-child {
				margin-bottom: 0;
			}
		}

		span {
			display: block;
			margin-top: 1rem;
			text-transform: uppercase;
		}
	}
}
