@use 'src/_mixins' as *;

.theme-toggle {
  border: 2px solid #585858;
  border-radius: 20px;
  background: #ffffff;
  cursor: pointer;
  height: 21px;
  position: absolute;
  right: 50px;
  top: 15px;
  transition: all 0.3s;
  width: 38px;
  z-index: 1;

  &::before {
    border-radius: 20px;
    background: #585858;
    content: '';
    height: 15px;
    left: 1px;
    position: absolute;
    top: 1px;
    transition: all 0.3s;
    width: 15px;
  }

  .theme-toggle-title {
    color: #585858;
    display: block;
    font-size: .75rem;
    position: absolute;
    right: -3em;
    text-align: left;
    top: 2px;
  }

  &.theme-toggle-checked {
    background: #cccccc;
    border-color: #aaaaaa;

    &::before {
      background: #aaaaaa;
      left: 50%;
    }

    .theme-toggle-title {
      color: #dddddd;
    }
  }

  @include small-screen {
    left: 3em;
    right: auto;
    top: 30px;
  }
}
