@use 'styles/mixins/_on' as on;
@use 'styles/mixins/_screen' as screen;

.container {
  background: var(--body);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: var(--max-width);
  padding-bottom: 2rem;
  padding-top: 9rem;
  position: relative;
  z-index: 4;

  .heading {
    color: var(--text);
    margin: 0 auto;
    margin-bottom: 1.25rem;
    position: relative;
  }

  .tags {
    display: flex;
    justify-content: center;
    margin-bottom: 2.25rem;

    .tag {
      background: var(--tag);
      border-bottom: none;
      border-radius: 0.25rem;
      color: var(--tag-text);
      font-size: 0.62rem;
      letter-spacing: 1px;
      margin-right: 0.25rem;
      padding: 0.4rem 0.5rem 0.3rem;
      text-transform: uppercase;
      transition: all 0.4s ease-in-out;

      &:last-child {
        margin-right: 0;
      }

      svg {
        margin-right: 0.5rem;
        position: relative;
        top: -0.01rem;
        transform: rotate(0deg);
      }

      @include on.hover {
        background: var(--tag-hover);
      }
    }
  }

  .items {
    display: grid;
    grid-gap: 1.25rem;
    grid-template-columns: repeat(4, minmax(calc(25% - 2.5rem), 1fr));
    margin-bottom: 2.5rem;

    .item {
      height: 10rem;
      position: relative;

      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }
  }

  @include screen.large {
    .items {
      padding: 0 1.25rem;
    }
  }

  @include screen.medium {
    .items {
      grid-template-columns: repeat(2, minmax(calc(50% - 2.5rem), 1fr));
      padding: 0 5rem;

      .item {
        height: 14rem;
      }
    }
  }

  @include screen.small {
    .heading {
      margin-left: 1.75rem;
      margin-right: 1.75rem;
      text-align: center;
    }

    .items {
      padding: 0 1.75rem;

      .item {
        height: 10rem;
      }
    }
  }

  @include screen.compact {
    .heading {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }

    .items {
      grid-template-columns: repeat(1, minmax(calc(100% - 2.5rem), 1fr));
      padding: 0 1.5rem;

      .item {
        height: 14rem;
      }
    }
  }
}
