@use 'styles/mixins/_on' as on;
@use 'styles/mixins/_screen' as screen;

.navigation {
  border-top: 1px solid var(--border);
  display: flex;
  grid-gap: 1.8rem;
  justify-content: space-between;
  margin-top: 3.5rem;
  padding: 4rem 0 1rem;
  position: relative;
  width: 100%;

  .next,
  .previous {
    flex: 1;
    max-width: 50%;
    position: relative;
    text-decoration: none;
    width: auto;

    svg {
      fill: var(--text);
      height: 0.7rem;
      position: relative;
      top: -1px;
      width: 0.7rem;
    }

    .image {
      border-radius: 0.25rem;
      height: 14rem;
      overflow: hidden;
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        inset: 0;
        background-color: var(--image-hover-background);
        transition: all 0.4s ease-in-out;
        opacity: 0;
        visibility: hidden;
      }

      img {
        border-radius: 0.25rem;
      }

      @include on.hover {
        &:after {
          transition: all 0.4s ease-in-out;
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .eyebrow {
      align-items: center;
      display: flex;
      margin: 1rem 0 0.75rem;
    }

    .title {
      display: inline;
      transition: all 0.4s ease-in-out;
    }

    @include on.hover {
      .title {
        box-shadow:
          0 -1px var(--body) inset,
          0 -3px var(--travels-title-hover) inset;
      }
    }
  }

  .previous {
    .eyebrow {
      svg {
        margin-right: 0.25rem;
      }
    }
  }

  .next {
    right: -50%;
    text-align: right;

    .eyebrow {
      justify-content: flex-end;

      svg {
        margin-left: 0.25rem;
      }
    }
  }

  .previous ~ .next {
    right: 0;
  }

  @include screen.small {
    flex-direction: column;
    margin-top: 2.5rem;
    padding: 3rem 0 1rem;

    .next,
    .previous {
      max-width: 100%;

      .image {
        border-radius: 0.5rem;
        max-height: 20rem;
        height: auto;

        img {
          border-radius: 0.5rem;
        }
      }
    }

    .next {
      right: 0;
    }
  }
}
