@use 'styles/mixins/_screen' as screen;

.stats {
  display: block;
  margin: 2rem auto;

  tbody {
    display: flex;

    tr {
      align-items: flex-start;
      display: flex;
      flex-direction: column-reverse;
      margin-right: 3rem;

      th,
      td {
        white-space: nowrap;
      }

      th {
        display: block;
        font-size: 0.85rem;
        font-weight: 300;
        line-height: 1rem;
        text-transform: none;
      }

      td {
        font-size: 2.125rem;
        font-weight: 500;
        padding-bottom: 0.3rem;

        small {
          font-size: 1rem;
          font-weight: 500;
          text-transform: none;
        }
      }
    }
  }

  @include screen.small {
    tbody {
      display: grid;
      grid-auto-rows: 1.5rem;
      grid-gap: 1.25rem;
      grid-template-columns: repeat(2, minmax(calc(50% - 2rem), 1fr));
      margin: 3rem auto;

      tr {
        grid-row: span 2;
        margin: 0;
      }
    }
  }

  @include screen.nano {
    tbody {
      display: flex;
      flex-direction: column;
    }
  }
}
