@use 'styles/mixins/_on' as on;
@use 'styles/mixins/_screen' as screen;

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  position: relative;
  width: 100%;
  z-index: 3;

  ul {
    list-style: none;
    margin: 1.25rem 0 0;
    padding: 0;

    li {
      display: inline-block;
      font-size: 0.9rem;
      font-weight: 700;
      text-transform: uppercase;

      &:after {
        content: '/';
        display: inline-block;
        margin: 0 0.5rem;
      }

      &:last-child {
        &:after {
          content: '';
        }
      }

      a {
        transition: all 0.4s ease-in-out;

        @include on.hover {
          box-shadow:
            0 -1px var(--body) inset,
            0 -3px var(--travels-title-hover) inset;
        }
      }
    }
  }

  h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    margin: 0.75rem auto 1rem;
    max-width: 62rem;
    position: relative;
    text-align: center;
  }

  p {
    font-size: 1.15rem;
    font-weight: 500;
    max-width: 44rem;
    margin-bottom: 3rem;
    opacity: 0.7;
    position: relative;
    text-align: center;

    &:after {
      background: var(--text);
      content: '';
      display: block;
      height: 1px;
      left: 50%;
      margin-left: -4rem;
      opacity: 0.5;
      position: absolute;
      bottom: -1.5rem;
      width: 8rem;
    }
  }

  section {
    display: flex;
    font-size: 0.75rem;
    font-weight: 500;
    opacity: 0.7;
    text-transform: uppercase;

    time {
      display: block;
    }

    span {
      display: block;
      margin-left: 1rem;
      padding-left: 0.25rem;
      position: relative;

      &:before {
        content: '•';
        display: block;
        font-size: 1rem;
        left: -0.5rem;
        line-height: 1rem;
        margin-top: -0.5rem;
        opacity: 0.6;
        position: absolute;
        top: 50%;
      }
    }
  }

  @include screen.small {
    align-items: flex-start;
    margin-bottom: 3rem;

    h1 {
      text-align: left;
      margin-left: 0;
      margin-right: 0;
      max-width: 100%;
    }

    p {
      margin-bottom: 1.5rem;
      text-align: left;

      &:after {
        display: none;
      }
    }
  }
}
