@use 'styles/mixins/_screen' as screen;
@use 'styles/mixins/_on' as on;

.figure {
  display: flex;
  flex-direction: column;
  height: 100%;
  opacity: 0;
  position: relative;
  transition: all 0.4s ease-in-out;

  .image {
    background: var(--shop-frame-background);
    border: 0.625rem solid var(--shop-frame-border-default);
    box-shadow: 0.25rem 0.25rem 0.75rem var(--shop-frame-shadow-default);
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease;

    &:before,
    &:after {
      content: '';
      display: block;
      inset: 0;
      position: absolute;
      transition: all 0.4s ease;
      z-index: 2;
    }

    &:before {
      box-shadow: 3px 1px 0.5rem var(--shop-frame-border-shadow-default) inset;
    }

    &:after {
      outline: 1.5rem solid var(--shop-frame-mat);
      inset: 1.3rem;
      z-index: 1;
    }

    @include on.hover {
      border-color: var(--shop-frame-border-hover);
      box-shadow: 0.25rem 0.25rem 0.75rem var(--shop-frame-shadow-hover);

      &:before {
        box-shadow: 3px 1px 0.5rem var(--shop-frame-border-shadow-hover) inset;
      }
    }

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  .caption {
    color: var(--text);
    display: block;
    padding-top: 1.75rem;
    position: relative;
    text-align: center;

    p {
      font-size: 0.9rem;
    }
  }

  &[data-in-view='true'] {
    opacity: 1;
    top: 0;
  }
}
