@use 'scss/mixins/_screens' as screens;

#home {
	background: #c6d9d3;
	height: 100vh;
	overflow-x: hidden;
  overflow-y: auto;
  perspective: 10px;
  position: relative;
  transform-style: preserve-3d;

  header {
		align-items: center;
		color: #192a2e;
	  display: flex;
	  flex-direction: column;
	  inset: 0;
	  justify-content: center;
	  overflow: hidden;
	  position: absolute;
	  width: 100%;
	  transform: translateZ(-14px) translateY(-100px) scale(2.4);
	  z-index: 3;

	  h1 {
	  	font-family: 'Montserrat';
	  	font-size: 6rem;
	    font-weight: 900;
	    letter-spacing: 30px;
	    margin: 0;
	    padding: 0;
	    position: relative;
	    text-indent: 30px;
	    text-align: center;
	    text-transform: uppercase;

	    span {
	    	color: gray;
		  	font-size: .75rem;
		  	font-weight: 500;
		  	inset: 0;
		  	letter-spacing: 12px;
		  	margin: 0 0 4px;
		  	position: absolute;
		  	text-indent: 12px;
		  	top: -12px;
			}
	  }

	  h2 {
	  	display: block;
	  	text-transform: uppercase;
			font-family: 'Lato';
	    font-size: .825rem;
	    font-weight: 400;
	    letter-spacing: 2px;
	    margin: 10px 0 0;
	    padding: 0;
	    text-indent: 2px;

	    span {
	    	color: black;
	    	font-weight: 600;
	    }
	  }
	}

	.parallax {
    background-repeat: no-repeat;
    position: absolute;

    &.background-one {
	  	background-image: url(https://ik.imagekit.io/acrossthekyle/mountains-4.svg?updatedAt=1710255953904);
	  	transform: translateZ(-20px) scale(3);
	  	background-size: calc(100vw + 50px);
	  	background-position: 0 65%;
	  	bottom: -200px;
	  	height: 100vh;
	  	width: calc(100vw + 30px);
	  	z-index: 1;
	  }

	  &.background-two {
	  	background-image: url(https://ik.imagekit.io/acrossthekyle/mountains-3.svg?updatedAt=1710255953860);
	  	transform: translateZ(-15px) scale(2.5);
	  	background-size: calc(100vw + 50px);
	  	background-position: 0 65%;
	  	bottom: -175px;
	  	height: 600px;
	  	width: calc(100vw + 30px);
	  	z-index: 2;
	  }

	  &.background-three {
	  	background-image: url(https://ik.imagekit.io/acrossthekyle/mountains-2.svg?updatedAt=1710255954244);
	  	left: -10px;
	    transform: translateZ(-6px) scale(1.6);
	    background-size: calc(100vw + 50px);
	    width: calc(100vw + 30px);
	    background-position: 0 75%;
	  	bottom: -150px;
	  	height: 500px;
	    z-index: 4;
	  }

	  &.foreground {
	  	background-image: url(https://ik.imagekit.io/acrossthekyle/mountains-1.svg?updatedAt=1710779772019);
	  	background-size: calc(100vw + 50px);
	  	background-position: 0 75%;
	  	bottom: 0;
	  	height: 250px;
	  	width: 100%;
	  	z-index: 6;
	  }

	  &.waves {
	  	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg id='waves' preserveAspectRatio='none' viewBox='0 24 150 28' xmlns='http://www.w3.org/2000/svg' %3e%3cstyle type='text/css'%3e %23waves g %3e use %7b animation: waves 25s cubic-bezier(.55, .5, .45, .5) infinite;%7d %23waves g %3e use:nth-child(1) %7b animation-delay: -2s; animation-duration: 7s;%7d %23waves g %3e use:nth-child(2) %7b animation-delay: -3s; animation-duration: 10s;%7d %23waves g %3e use:nth-child(3) %7b animation-delay: -4s; animation-duration: 13s;%7d %23waves g %3e use:nth-child(4) %7b animation-delay: -5s; animation-duration: 20s;%7d %40keyframes waves %7b 0%25 %7b transform: translate3d(-90px, 0, 0);%7d 100%25 %7b transform: translate3d(85px, 0, 0);%7d %7d %3c/style%3e%3cdefs%3e%3cpath id='wave' d='M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z' /%3e%3c/defs%3e%3cg%3e%3cuse href='%23wave' x='48' y='0' fill='rgba(63, 158, 233, 0.7)' /%3e%3cuse href='%23wave' x='48' y='3' fill='rgba(63, 158, 233, 0.5)' /%3e%3cuse href='%23wave' x='48' y='5' fill='rgba(63, 158, 233, 0.3)' /%3e%3cuse href='%23wave' x='48' y='7' fill='rgba(63, 158, 233, 1)' /%3e%3c/g%3e%3c/svg%3e");
	  	background-attachment: fixed;
			bottom: 0px;
			height: 5%;
		  position: absolute;
		  transform: translateZ(-5px) translateY(250%) scale(1.5);
		  width: 100%;
		  z-index: 6;

		  > div {
		  	background-attachment: fixed;
				background: rgba(63, 158, 233, 1);
				bottom: 0px;
				height: 100px;
			  position: absolute;
			  transform: translateZ(-5px) translateY(115%) scale(1.5);
			  width: 100%;
			  z-index: 6;
		  }
	  }
  }

  section {
  	align-items: center;
  	background: #1d1d1d;
  	color: #ffffff;
  	display: flex;
  	flex-direction: row;
		min-height: 100vh;
		justify-content: center;
		perspective: 10px;
		position: absolute;
  	top: 100vh;
  	transform-style: preserve-3d;
  	width: 100%;
  	z-index: 10;

  	article, figure {
  		flex: 1;
  	}

  	article {
  		font-size: 3.5rem;
  		font-weight: 300;
  		line-height: 150%;
  		padding: 100px;
  		transform: translateZ(2px) scale(.6);
  		z-index: 11;


  		span {
  			color: yellow;
  		}
  	}

  	figure {
  		display: none;
  		background-size: cover;
  		border-radius: 5px;
  		filter: sepia(50%);
  		height: 275px;

  		figcaption {
  			padding: 20px;
  		}
  	}
  }

	@include screens.small {
		header {
			h1 {
				font-size: 5rem;

				span {
					font-size: .75rem;
				}
			}

		  h2 {
		  	font-size: .65rem;
		  	text-align: center;
		  	word-wrap: break-word;
		  }
		}

		.parallax {
			&.background-one {
		  	background-position: 0 65%;
		  	bottom: 275px;
		  	width: calc(100vw + 30px);
		  }

		  &.background-two {
		  	background-position: 0 65%;
		  	bottom: 100px;
		  	height: 600px;
		  	width: calc(100vw + 30px);
		  }

		  &.background-three {
		  	width: calc(100vw + 30px);
		    background-position: 0 75%;
		  	bottom: 90px;
		  	height: 500px;
		  }

		  &.foreground {
		  	background-position: 0 75%;
		  	bottom: 100px;
		  	height: 250px;
		  	width: 100%;
		  }

		  &.waves {
		  	bottom: 120px;
				height: 5%;
			  width: 100%;
		  }
		}

		section {
	  	top: calc(100vh - 101px);
	  }
	}

	@include screens.tiny {
		header {
			h1 {
				font-size: 4.25rem;

				span {
					font-size: .65rem;
				}
			}

		  h2 {
		  	font-size: .6rem;
		  }
		}
	}
}
