@use 'styles/mixins/_on' as on;
@use 'styles/mixins/_screen' as screen;

.view {
  .header {
    align-items: center;
    display: flex;
    flex-direction: column;

    .image {
      border-radius: 50%;
      height: 9.5rem;
      overflow: hidden;
      position: relative;
      width: 9.5rem;

      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }

    .title {
      color: var(--text);
      font-size: 2.0625rem;
      font-weight: 700;
      margin-top: 1.25rem;
      text-align: center;
      text-transform: capitalize;
    }

    .text {
      color: var(--text);
      line-height: 1.75rem;
      margin: 0 auto;
      margin-top: 1.25rem;
      max-width: 400px;
      position: relative;
      text-align: center;
      width: auto;
    }

    .links {
      justify-content: space-between;
      margin: 1rem auto 0;
      position: relative;

      .link {
        background: var(--home-about-link-background);
        border-radius: 1rem;
        overflow: hidden;
        padding-bottom: 0;
        top: auto;

        svg {
          fill: var(--home-about-link-icon);

          &:nth-child(3) {
            opacity: 0;
            position: absolute;
            right: -10rem;
            top: 0;
            transition: all 0.4s ease;
          }
        }

        span {
          color: var(--home-about-link-icon);
          opacity: 0;
          position: absolute;
          right: -10rem;
          text-transform: uppercase;
          transition: all 0.4s ease;
        }

        @include on.hover {
          background: var(--home-about-link-hover-background);
          padding: 1rem 1rem 0.975rem;
          width: 8.5rem;

          svg {
            fill: var(--home-about-link-hover-icon);
            margin-right: 0.3rem;

            &:nth-child(3) {
              opacity: 1;
              position: relative;
              right: auto;
            }
          }

          span {
            color: var(--home-about-link-hover-icon);
            opacity: 1;
            position: relative;
            right: auto;
          }
        }
      }
    }
  }

  @include screen.compact {
    .header {
      .text {
        padding: 0 1rem;
      }
    }
  }
}
