.form {
  .item {
    margin-bottom: 2rem;
    position: relative;
  }

  .add {
    margin-top: 1rem;
    width: 100%;
  }

  .disclaimer {
    display: block;
    line-height: 1.25rem;
    margin-top: 0.75rem;
    text-align: left;
    width: 100%;
  }
}
