.container {
  position: relative;

  .label {
    cursor: pointer;
    display: block;
    font-size: 0.9rem;
    margin-bottom: 0.625rem;
  }

  .select {
    background: var(--body);
    border: 0;
    border-right: 16px solid transparent;
    border-radius: 0;
    color: var(--text);
    cursor: pointer;
    display: block;
    height: 2.75rem;
    font-size: 0.9rem;
    line-height: 1.5;
    outline: 1px solid var(--text);
    width: 100%;
    padding: 0 2.5rem 0 0.875rem;
    position: relative;
    -webkit-appearance: none;
  }

  .chevron {
    fill: var(--text);
    height: 1rem;
    pointer-events: none;
    position: absolute;
    right: 1rem;
    top: 2.4rem;
    width: 1rem;
  }
}
