@use 'scss/mixins/_has' as has;
@use 'scss/mixins/_theme' as theme;
@use 'scss/variables' as *;

.about {
	flex: 1;

	figure {
		border-radius: 4px;
		height: 40vh;
		margin: 4rem;
		overflow: hidden;
		position: relative;

		img {
			position: relative;
			transform: scale(1.5);
			width: 100%;
			z-index: 1;
		}

		figcaption {
			color: #3d3d3d;
			font-size: .75rem;
			padding: 1rem;
			position: absolute;
			right: 0;
			text-align: center;
			text-transform: uppercase;
			top: 0;
			z-index: 2;
		}
	}

	section {
		border-top: 1px solid transparent;
		display: flex;
		flex-direction: row;
		flex-grow: 0;

		@include theme.value {
    	border-color: theme.t('border');
  	}

		div {
			border-right: 1px solid transparent;
			display: flex;
			flex: 1;
			flex-direction: column;
			padding: 1rem;

			@include theme.value {
				border-color: theme.t('border');
	    	color: theme.t('text');
  		}

  		&:last-child {
  			border-right: none;
  		}

			h3 {
				font-size: .75rem;
				font-weight: 600;
				margin-bottom: 1rem;
				text-transform: uppercase;
			}

			p {
				font-size: .9rem;
			}
		}
	}
}
