@use 'scss/mixins/_has' as has;
@use 'scss/mixins/_theme' as theme;
@use 'scss/variables' as *;

.about {
	flex: 1;

	section {
		border-bottom: 1px solid transparent;
		border-top: 1px solid transparent;
		display: flex;

		@include theme.value {
    	border-color: theme.t('border');
  	}

		div {
			border-right: 1px solid transparent;
			display: flex;
			flex: 1;
			flex-direction: column;
			padding: 1rem;

			@include theme.value {
				border-color: theme.t('border');
	    	color: theme.t('text');
  		}

  		&:last-child {
  			border-right: none;
  		}

			h3 {
				margin-bottom: .5rem;
				text-transform: uppercase;
			}
		}
	}
}
