@use 'styles/mixins/_screen' as screen;

.hero {
  @include screen.small {
    img {
      left: -50%;
      width: 150%;
    }
  }

  @include screen.compact {
    img {
      left: -90%;
      width: 190%;
    }
  }

  @include screen.nano {
    img {
      left: -140%;
      width: 240%;
    }
  }
}
