@use 'styles/mixins/_screen' as screen;

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  z-index: 3;

  .tags {
    display: flex;

    a {
      padding: 0.4rem 0.5rem;
    }
  }

  .breadcrumbs {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    padding-top: 1.65rem;
  }

  .title {
    font-size: 2.3rem;
    line-height: 3rem;
    margin: 0.75rem auto 1.75rem;
    position: relative;
    text-align: center;
    max-width: 600px;
  }

  .context {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    margin-top: -0.75rem;
    position: relative;
    width: auto;

    .author {
      border-radius: 50%;
      height: 1.5rem;
      margin-right: 0.4rem;
      overflow: hidden;
      position: relative;
      width: 1.5rem;

      img {
        height: 100%;
        object-fit: cover;
        position: relative;
        width: 100%;
        z-index: 2;
      }
    }

    .items {
      align-items: center;
      display: flex;
      font-size: 0.85rem;

      .link {
        display: flex;
        padding-bottom: 0.25rem;
        position: relative;
        text-decoration: none;
        top: 0.15rem;
      }

      .item {
        display: inline-block;

        &:after {
          color: var(--text);
          content: '•';
          display: inline-block;
          margin: 0 0.5rem;
        }

        &:last-child {
          &:after {
            display: none;
          }
        }
      }
    }
  }

  @include screen.small {
    .title {
      font-size: 2.5rem;
      line-height: 2.75rem;
      padding: 0 1rem;

      &:before {
        height: 2px;
        margin-left: -2.5rem;
        width: 5rem;
      }
    }
  }

  @include screen.compact {
    .title {
      font-size: 2rem;
      line-height: 2.25rem;
      padding: 0 1rem;
    }
  }

  @include screen.tiny {
    .context {
      align-items: center;
      flex-direction: column;
      margin-bottom: 1rem;
      margin-top: 0rem;

      .author {
        margin-bottom: 1rem;
        margin-right: 0;
      }

      .items {
        align-items: center;
        flex-direction: column;

        .item {
          font-weight: 400;
          margin-bottom: 0.5rem;
          margin-right: 0;

          &:after {
            display: none;
          }

          &:first-child {
            display: none;
          }

          &:last-of-type {
            margin-bottom: 1.5rem;
          }
        }

        a {
          display: none;
        }
      }
    }
  }

  @include screen.miniscule {
    .tags {
      flex-direction: column;
      padding: 0 1rem;

      a {
        justify-content: center;
        line-height: 1rem;
        margin-bottom: 0.5rem;
        text-align: center;
        width: 100%;
      }
    }
  }
}
