@use 'styles/mixins/_screen' as screen;

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  z-index: 3;

  .tags {
    display: flex;

    a {
      padding: 0.4rem 0.5rem;
    }
  }

  .breadcrumbs {
    padding-bottom: 0.5rem;
    padding-top: 1.65rem;
  }

  .title {
    margin: 0.75rem auto 1rem;
    position: relative;
    text-align: center;
    max-width: 600px;
  }

  .context {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    position: relative;
    width: auto;

    .author {
      border-radius: 50%;
      height: 1.75rem;
      margin-right: 0.4rem;
      overflow: hidden;
      position: relative;
      width: 1.75rem;

      img {
        position: relative;
        z-index: 2;
      }
    }

    .items {
      align-items: center;
      display: flex;
      margin-left: 0.25rem;

      .link {
        display: flex;
        padding-bottom: 0.25rem;
        position: relative;
        text-decoration: none;
        top: 0.15rem;
      }

      .item {
        display: inline-block;

        &:after {
          color: var(--text);
          content: '•';
          display: inline-block;
          margin: 0 0.5rem;
        }

        &:last-child {
          &:after {
            display: none;
          }
        }
      }
    }
  }

  @include screen.small {
    align-items: flex-start;

    .title {
      text-align: left;
      margin-left: 0;
      margin-right: 0;
      max-width: 100%;

      &:before {
        height: 2px;
        margin-left: -2.5rem;
        width: 5rem;
      }
    }

    .context {
      align-items: center;
      flex-direction: row;
      margin-bottom: 2rem;
    }
  }
}
