@import "tailwindcss";

:root {
  --background: #1a1a1a;
  --foreground: #ffffff;
}

@theme {
  --animate-in-fade: fadeIn .4s ease-in forwards;
  --breakpoint-xs: 22.1875rem; /* 355px */
  --text-tiny: 0.6875rem;
}

html {
  height: 100%;
}

html[data-theme="dark"] {
  --background: #1a1a1a;
  --foreground: #ffffff;
}

html[data-theme="light"] {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  nav,
  section,
  h2 {
    padding-top: 4rem;
  }

  article,
  h1 {
    padding-bottom: 4rem;
  }

  article:last-of-type {
    padding-bottom: 0;
  }

  article h2 {
    padding-top: 0;
  }

  h2,
  h3,
  ul {
    padding-bottom: 1rem;
  }

  p {
    line-height: 1.6;
    padding-bottom: 1.5rem;
  }

  p:last-of-type {
    padding-bottom: 0;
  }

  ul {
    line-height: 1.75;
  }

  figure {
    position: relative;
  }

  u {
    border-bottom-color: var(--foreground);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 0px;
    text-decoration: none;
  }

  small {
    color: var(--foreground);
    display: block;
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
    padding-block: 0.25rem;
  }

  button {
    cursor: pointer;
  }

  hr {
    width: 1rem;
    margin-top: 1.75rem;
    padding-top: 1.75rem;
    border-color: var(--foreground);
  }

  progress {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border-radius: 0.5rem;
    height: 0.25rem;
    width: 100%;
  }

  progress::-webkit-progress-bar {
    background-color: transparent;
  }

  progress::-webkit-progress-value,
  progress::-moz-progress-bar {
    background-color: var(--foreground);
    border-radius: 0.5rem;
  }

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  dl {
    column-gap: calc(var(--spacing) * 6);
    display: grid;
    gap: calc(var(--spacing) * 3);
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  h1 {
    strong {
      font-size: 1.375rem;
      line-height: 1.3;
    }
  }

  /* third-party package styling  */

  .apexcharts-tooltip {
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
    color: var(--foreground);
    font-size: 0.8rem;
    font-weight: 400;
    padding-right: 0.6rem !important;
    padding-top: 0.2rem !important;
  }
}

@media (min-width: 40rem) {
  body {
    h1 {
      strong {
        font-size: 1.25rem;
        line-height: 1.4;
      }

      small {
        padding-top: 0.375rem;
      }
    }

    small {
      font-size: var(--text-xs);
      line-height: var(--tw-leading, var(--text-xs--line-height));
    }
  }
}

@supports (color: color-mix(in lab, red, red)) {
  body {
    small {
      color: color-mix(in oklab, currentcolor 70%, transparent);
    }

    hr {
      border-color: color-mix(in oklab, var(--foreground) 50%, transparent);
    }
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
