@import "tailwindcss";

:root {
  --background: #000;
  --foreground: #fff;
}

@theme {
  --animate-in-fade: fadeIn .4s ease-in forwards;
  --breakpoint-xs: 27.5rem; /* 440px */
  --text-tiny: 0.6875rem;
}

html, body {
  height: 100%;
}

html[data-theme="dark"] {
  --background: #000;
  --foreground: #fff;
}

html[data-theme="light"] {
  --background: #fff;
  --foreground: #000;
}

body {
  article {
    h2 {
      padding-top: 0;
    }
  }

  p {
    line-height: 1.6;
    padding-bottom: 1.5rem;
  }

  p:last-of-type {
    padding-bottom: 0;
  }

  figure {
    position: relative;
  }

  u {
    border-bottom-color: var(--foreground);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 0px;
    text-decoration: none;
  }

  button {
    cursor: pointer;
  }

  hr {
    width: 1rem;
    margin-top: 1.75rem;
    padding-top: 1.75rem;
    border-color: var(--foreground);
  }

  progress {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border-radius: 0.5rem;
    height: 0.25rem;
    width: 100%;
  }

  progress::-webkit-progress-bar {
    background-color: transparent;
  }

  progress::-webkit-progress-value,
  progress::-moz-progress-bar {
    background-color: var(--foreground);
    border-radius: 0.5rem;
  }

  img {
    border-radius: 0.125rem;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  dl {
    column-gap: calc(var(--spacing) * 6);
    display: grid;
    gap: calc(var(--spacing) * 3);
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  /* third-party package styling  */

  .apexcharts-tooltip {
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
    color: var(--foreground);
    font-size: 0.85rem;
    font-weight: 300;
    padding-right: 0.1rem !important;
    padding-top: 0 !important;
    margin-top: -0.1rem !important;
  }

  .apexcharts-tooltip-text {
    font-family: var(--font-mono) !important;
  }
}

@supports (color: color-mix(in lab, red, red)) {
  body {
    hr {
      border-color: color-mix(in oklab, var(--foreground) 50%, transparent);
    }
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
