@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant light (&:where([data-theme=light], [data-theme=light] *));

:root {
  --background: #1a1a22;
  --foreground: #faf9f5;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
}

@theme {
  --font-weight-extrablack: 1000;

  --text-tiny: 0.6875rem; /* 11px */

  --animate-in-fade: fadeIn .4s ease-in forwards;

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
}

html {
  height: 100%;
}

html[data-theme="dark"] {
  --background: #1a1a22;
  --foreground: #faf9f5;
}

html[data-theme="light"] {
  --background: #faf9f5;
  --foreground: #1a1a22;
}

html:has(dialog[open]) {
  overflow: hidden;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  background: var(--background);
  color: var(--foreground);
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100%;

  ::-webkit-scrollbar {
    display: none;
  }

  header {
    position: relative;
    margin: 0 auto;
    max-width: var(--container-lg);
    padding-top: 5rem;
    width: 100%;
  }

  main {
    flex-grow: 1;
    margin: 0 auto;
    max-width: var(--container-lg);
    opacity: 0;
    width: 100%;
  }

  footer {
    bottom: 0;
    left: 0;
    margin: 0 auto;
    max-width: var(--container-lg);
    position: fixed;
    width: 100%;
    z-index: 0;
  }

  h2,
  h3 {
    margin-bottom: 1rem;
  }

  p {
    line-height: 175%;
    margin-bottom: 1rem;
  }

  u {
    border-bottom-color: var(--foreground);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 3px;
    text-decoration: none;
  }

  small {
    color: color-mix(in oklab, currentcolor 50%, transparent);
    display: block;
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
    padding-top: 0.25rem;
    text-transform: none;
  }

  @media (min-width: 48rem) {
    small {
      font-size: var(--text-xs);
      line-height: var(--tw-leading, var(--text-xs--line-height));
    }
  }

  button {
    cursor: pointer;
  }

  dialog {
    background: transparent;
    color: var(--foreground);
    height: 100%;
    font-family: var(--font-sans) !important;
    max-height: 100%;
    max-width: 100%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    width: 100%;
    z-index: 9;
  }

  dialog::backdrop {
    background: var(--background);
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  @media (width >= 48rem) {
    dialog::backdrop {
      background: transparent;
      backdrop-filter: blur(0);
    }
  }

  dialog.is-active {
    opacity: 1;
  }

  dialog.is-active::backdrop {
    backdrop-filter: blur(2.5rem);
    opacity: 1;
  }

  progress {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border-radius: 0.5rem;
    height: 0.25rem;
    width: 50%;
  }

  progress::-webkit-progress-bar {
    background-color: transparent;
  }

  progress::-webkit-progress-value,
  progress::-moz-progress-bar {
    background-color: var(--foreground);
    border-radius: 0.5rem;
  }

  em {
    font-style: italic;
    font-family: var(--font-serif);
  }

  img {
    border-radius: .5rem;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  article,
  figure,
  nav,
  section {
    margin-top: 4rem;
  }

  select {
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.35355 4.06066C8.15829 3.8654 7.84171 3.8654 7.64645 4.06066L5.35355 6.35355C5.15829 6.54882 4.84171 6.54882 4.64645 6.35355C4.45118 6.15829 4.45118 5.84171 4.64645 5.64645L6.93934 3.35356C7.52513 2.76777 8.47487 2.76777 9.06066 3.35355L11.3536 5.64645C11.5488 5.84171 11.5488 6.15829 11.3536 6.35355C11.1583 6.54882 10.8417 6.54882 10.6464 6.35355L8.35355 4.06066Z' fill='%236b7280'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.35355 11.9393C8.15829 12.1346 7.84171 12.1346 7.64645 11.9393L5.35355 9.64645C5.15829 9.45119 4.84171 9.45119 4.64645 9.64645C4.45118 9.84171 4.45118 10.1583 4.64645 10.3536L6.93934 12.6464C7.52513 13.2322 8.47487 13.2322 9.06066 12.6464L11.3536 10.3536C11.5488 10.1583 11.5488 9.84171 11.3536 9.64645C11.1583 9.45119 10.8417 9.45119 10.6464 9.64645L8.35355 11.9393Z' fill='%236b7280'/%3E%3C/svg%3E%0A");
    background-position: right 0rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    cursor: pointer;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    opacity: 1;
    padding-right: 2.5rem;
    print-color-adjust: exact;
  }

  .list {
    line-height: 1.75rem;
    list-style-type: disc;
    margin-left: 1rem;
  }

  /* third-party package styling  */

  .leaflet-bar {
    border: 0 !important;
  }

  .leaflet-control {
    margin: 0 !important;
    padding-right: 1rem;
  }

  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out {
    background: transparent !important;
    border: 0 !important;
    color: #1b1b1b !important;
  }

  .leaflet-control-attribution {
    visibility: hidden;
  }

  .leaflet-container {
    background: transparent;
  }

  .leaflet-tile-container .leaflet-tile {
    border-radius: 0;
  }

  .leaflet-gesture-handling-scroll-warning:after,
  .leaflet-gesture-handling-touch-warning:after {
    font-size: 1rem;
    text-align: center;
  }

  .apexcharts-tooltip {
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
    color: var(--foreground);
    font-size: 0.8rem;
    font-weight: 400;
    padding-right: 0.6rem !important;
    padding-top: 0.4rem !important;
  }
}
