@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant light (&:where([data-theme=light], [data-theme=light] *));

:root {
  --background: #000000;
  --foreground: rgba(255, 255, 255, .9);
  --tooltip-text-color: rgba(255, 255, 255, .9);
  --elevation-text-color: rgba(255, 255, 255, .9);
}

html[data-theme="dark"] {
  --tooltip-text-color: rgba(255, 255, 255, .9);
  --elevation-text-color: rgba(255, 255, 255, .9);
}

html[data-theme="light"] {
  --tooltip-text-color: rgba(0, 0, 0, .9);
  --elevation-text-color: rgba(0, 0, 0, .9);
}

@theme inline {
  --font-sans: var(--font-geist-sans);
}

@theme {
  --breakpoint-nano: 19.375rem; /* 310px */
  --breakpoint-micro: 20.9375rem; /* 335px */
  --breakpoint-milli: 24.375rem; /* 390px */
  --breakpoint-centi: 27.5rem; /* 440px */
  --breakpoint-deci: 35rem; /* 560px */
  --breakpoint-base: 48rem; /* 768px */
  --breakpoint-hecto: 64rem; /* 1024px: */
  --breakpoint-kilo: 80rem; /* 1280px */
  --breakpoint-mega: 91.875rem; /* 1470px */
  --breakpoint-giga: 96rem; /* 1536px */
  --breakpoint-tera: 120rem; /* 1920px */
  --breakpoint-peta: 160rem; /* 2560px */

  --text-tiny: 0.6875rem; /* 11px */
  --text-10xl: 10rem; /* 160px */

  --font-weight-extrablack: 1000; /**/

  --animate-in-fade: fadeIn .25s ease-in forwards;

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;

  ::-webkit-scrollbar {
    display: none;
  }

  button[type="button"] {
    cursor: pointer;
  }

  .leaflet-bar {
    border: 0 !important;
  }

  .leaflet-control {
    margin: 0 !important;
    padding-top: 0;
    padding-right: 1.25rem;
  }

  @media (width >= 60.3125rem) {
    .leaflet-control {
      padding-bottom: 0.75rem;
      padding-right: 2.75rem;
    }
  }

  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out {
    background: transparent !important;
    border: 0 !important;
    color: var(--tooltip-text-color) !important;
    font: lighter 1.75rem Lucida Console, Monaco, monospace !important;
  }

  .leaflet-control-attribution {
    visibility: hidden;
  }

  .leaflet-container {
    background: transparent;
  }

  .leaflet-tooltip {
    background: transparent;
    box-shadow: none;
    border: none !important;
    color: var(--tooltip-text-color);
  }

  .leaflet-tooltip-top {
    margin-top: -1rem;
  }

  .leaflet-tooltip-bottom {
    margin-top: 1rem;
  }

  .leaflet-tooltip-left {
    margin-left: -1rem;
  }

  .leaflet-tooltip-right {
    margin-left: 1rem;
  }

  .leaflet-tooltip-top:before,
  .leaflet-tooltip-right:before,
  .leaflet-tooltip-bottom:before,
  .leaflet-tooltip-left:before {
    display: none !important;
  }

  .leaflet-gesture-handling-scroll-warning:after,
  .leaflet-gesture-handling-touch-warning:after {
    font-size: 1rem;
    text-align: center;
  }

  .apexcharts-tooltip {
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
    color: var(--elevation-text-color);
    font-weight: 400;
    padding-right: 1.25rem !important;
    padding-top: 0.9rem !important;
  }
}
