@import "tailwindcss";

:root {
  --background: #1a1a22;
  --foreground: #ffffff;
}

@theme {
  --animate-in-fade: fadeIn .4s ease-in forwards;
  --text-tiny: 0.6875rem;
}

html {
  height: 100%;
}

html[data-theme="dark"] {
  --background: #1a1a22;
  --foreground: #ffffff;
}

html[data-theme="light"] {
  --background: #ffffff;
  --foreground: #000000;
}

html:has(dialog[open]) {
  overflow: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
  color: var(--foreground);
  display: flex;
  flex-direction: column;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: var(--text-base);
  height: auto;
  line-height: var(--tw-leading, var(--text-base--line-height));
  min-height: 100%;
  padding: calc(var(--spacing) * 6);

  article,
  figure:first-of-type,
  form,
  nav,
  section,
  p:first-of-type,
  h1,
  h2 {
    margin-top: 4rem;
  }

  figure {
    margin-top: 1.5rem;
    position: relative;
  }

  h2,
  h3,
  p {
    margin-bottom: 1rem;
  }

  ul,
  p {
    line-height: 175%;
  }

  u {
    border-bottom-color: var(--foreground);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 3px;
    text-decoration: none;
  }

  small {
    color: color-mix(in oklab, currentcolor 70%, transparent);
    display: block;
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
    padding-top: 0.25rem;
    text-transform: none;
  }

  button {
    cursor: pointer;
  }

  dialog {
    background: transparent;
    color: var(--foreground);
    height: 100%;
    margin-block: calc(var(--spacing) * 0);
    margin-inline: auto;
    padding-bottom: 1.5rem;
    padding-inline: 1.5rem;
    max-height: 100%;
    max-width: calc(var(--container-lg) + 3rem);
    opacity: 0;
    overflow-x: visible !important;
    overflow-y: scroll;
    transition: all 0.3s ease-in-out;
    width: 100%;
    z-index: 9;
  }

  dialog::backdrop {
    background: var(--background);
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  dialog.is-active {
    opacity: 1;
  }

  dialog.is-active::backdrop {
    backdrop-filter: blur(2.5rem);
    opacity: 1;
  }

  progress {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border-radius: 0.5rem;
    height: 0.25rem;
    width: 100%;
  }

  progress::-webkit-progress-bar {
    background-color: transparent;
  }

  progress::-webkit-progress-value,
  progress::-moz-progress-bar {
    background-color: var(--foreground);
    border-radius: 0.5rem;
  }

  img {
    border-radius: .5rem;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  dl {
    column-gap: calc(var(--spacing) * 6);
    display: grid;
    gap: calc(var(--spacing) * 3);
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .index {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 8);
    margin-top: calc(var(--spacing) * 6);
  }

  a.backdrop,
  button.backdrop {
    display: block;
    position: relative;
  }

  a.backdrop:before,
  button.backdrop:before {
    background-color: var(--foreground);
    border-radius: var(--radius-sm);
    bottom: calc(var(--spacing) * -2);
    content: '';
    display: block;
    left: calc(var(--spacing) * -3);
    opacity: 0;
    position: absolute;
    right: calc(var(--spacing) * -3);
    top: calc(var(--spacing) * -2);
    transition-duration: 0.3s;
    z-index: 0;
  }

  a.backdrop:focus:before,
  button.backdrop:focus:before {
    opacity: 1;
  }

  a.cta,
  .tag {
    align-items: center;
    background-color: var(--foreground);
    border-radius: var(--radius-sm);
    border-style: var(--tw-border-style);
    border-width: 1px;
    border-color: var(--foreground);
    display: inline-flex;
    font-size: var(--text-tiny);
    gap: calc(var(--spacing) * 1);
    height: calc(var(--spacing) * 5.25);
    letter-spacing: var(--tracking-wide);
    padding-inline: calc(var(--spacing) * 1.25);
    text-align: center;
    transition-duration: 0.3s;
  }

  .tag {
    position: absolute;
    right: 0;
    top: calc(var(--spacing) * 1);
  }

  /* third-party package styling  */

  .leaflet-bar {
    border: 0 !important;
  }

  .leaflet-control {
    margin: 0 !important;
    padding-right: 1rem;
  }

  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out {
    background: transparent !important;
    border: 0 !important;
    color: #1b1b1b !important;
  }

  .leaflet-control-attribution {
    visibility: hidden;
  }

  .leaflet-container {
    background: transparent;
  }

  .leaflet-tile-container .leaflet-tile {
    border-radius: 0;
  }

  .leaflet-gesture-handling-scroll-warning:after,
  .leaflet-gesture-handling-touch-warning:after {
    font-size: 1rem;
    text-align: center;
  }

  .apexcharts-tooltip {
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
    color: var(--foreground);
    font-size: 0.8rem;
    font-weight: 400;
    padding-right: 0.6rem !important;
    padding-top: 0.4rem !important;
  }
}

@media (min-width: 48rem) {
  body {
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
    padding-block: calc(var(--spacing) * 16);
    padding-inline: calc(var(--spacing) * 8);

    small {
      font-size: var(--text-xs);
      line-height: var(--tw-leading, var(--text-xs--line-height));
    }

    dialog {
      padding-bottom: 4rem;
    }

    dialog::backdrop {
      background: transparent;
      backdrop-filter: blur(0);
    }

    .index {
      gap: calc(var(--spacing) * 6);
    }
  }
}

@media (hover: hover) {
  body {
    a.backdrop:hover:before,
    button.backdrop:hover:before {
      opacity: 1;
    }

    a.cta:hover {
      background-color: var(--foreground);
    }

    @supports (color: color-mix(in lab, red, red)) {
      a.cta:hover {
        background-color: color-mix(in oklab, var(--foreground) 12.5%, transparent);
      }
    }
  }
}

@supports (color: color-mix(in lab, red, red)) {
  body {
    a.backdrop:before,
    button.backdrop:before {
      background-color: color-mix(in oklab, var(--foreground) 5%, transparent);
    }

    a.cta,
    .tag  {
      background-color: color-mix(in oklab, var(--foreground) 7.5%, transparent);
      border-color: color-mix(in oklab, var(--foreground) 7.5%, transparent);
    }
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
