@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant light (&:where([data-theme=light], [data-theme=light] *));

:root {
  --background: #000000;
  --foreground: rgba(255, 255, 255, .9);
}

@theme inline {
  --font-sans: var(--font-geist-sans);
}

@theme {
  --breakpoint-plank: 19.0625rem; /* 305px */
  --breakpoint-pico: 20.9375rem; /* 335px */
  --breakpoint-nano: 22.5rem; /* 360px */
  --breakpoint-micro: 24.375rem; /* 390px */
  --breakpoint-milli: 30rem; /* 480px */
  --breakpoint-centi: 33.125rem; /* 530px */
  --breakpoint-deci: 40rem; /* 640px */
  --breakpoint-base: 48rem; /* 768px */
  --breakpoint-baseplus: 52.5rem; /* 840px */
  --breakpoint-deka: 60.3125rem; /* 965px */
  --breakpoint-hecto: 64rem; /* 1024px: */
  --breakpoint-kilo: 67.5rem; /* 1080px */
  --breakpoint-mega: 73.75rem; /* 1180px */
  --breakpoint-giga: 80rem; /* 1280px */
  --breakpoint-gigaplus: 84.125rem; /* 1346px */
  --breakpoint-tera: 120rem; /* 1920px */
  --breakpoint-peta: 160rem; /* 2560px */

  --text-tiny: 0.625rem; /* 10px */

  --font-weight-extrablack: 1000; /**/

  --animate-elastic-in-from-right: elasticInFromRight .5s cubic-bezier(.4, -0.6, 0.32, 1.6) forwards;
  --animate-elastic-in-from-left: elasticInFromLeft .65s cubic-bezier(.4, -0.6, 0.32, 1.6) forwards;
  --animate-slide-left: slideInFromRight .3s ease-in forwards;
  --animate-loader-one: .3s fadeIn 1s ease-in forwards;
  --animate-loader-two: .3s fadeIn 6s ease-in forwards;
  --animate-loader-three: .3s fadeIn 11s ease-in forwards;
  --animate-in-fade: fadeIn .5s ease-in forwards;
  --animate-in-fade-delayed: .25s fadeIn .2s ease-in forwards;

  @keyframes elasticInFromRight {
    0% { opacity: 0; transform: translateX(50%); }
    100% { opacity: 1; transform: translateX(0); }
  }

  @keyframes elasticInFromLeft {
    0% { opacity: 0; transform: translateX(-100%); }
    100% { opacity: 1; transform: translateX(0); }
  }

  @keyframes elasticInUp {
    0% { transform: translateY(100%); }
    100% { transform: translateY(0); }
  }

  @keyframes slideInFromRight {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0); }
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;

  ::-webkit-scrollbar {
    display: none;
  }

  button[type="button"] {
    cursor: pointer;
  }

  .leaflet-control-zoom {
    display: none;
  }

  .leaflet-control-attribution {
    visibility: hidden;
  }

  .leaflet-container {
    background: transparent;
  }

  .leaflet-tooltip {
    background: transparent;
    drop-shadow: none;
    border: none !important;
    color: rgba(255, 255, 255, .9);
  }

  .leaflet-tooltip-top:before,
  .leaflet-tooltip-right:before,
  .leaflet-tooltip-bottom:before,
  .leaflet-tooltip-left:before {
    display: none !important;
  }

  .leaflet-gesture-handling-scroll-warning:after,
  .leaflet-gesture-handling-touch-warning:after {
    font-size: 1rem;
    text-align: center;
  }

  .apexcharts-tooltip {
    box-shadow: none !important;
  }
}
