@import "tailwindcss";

:root {
  --background: #1a1a22;
  --foreground: #ffffff;
  --dialog: rgba(0, 0, 0, 0.25);
}

@theme {
  --animate-in-fade: fadeIn .4s ease-in forwards;
  --breakpoint-xs: 21.875rem; /* 350px */
  --text-tiny: 0.6875rem;
}

html {
  height: 100%;
}

html[data-theme="dark"] {
  --background: #1a1a22;
  --foreground: #ffffff;
  --dialog: rgba(0, 0, 0, 0.25);
}

html[data-theme="light"] {
  --background: #ffffff;
  --foreground: #000000;
  --dialog: rgba(255, 255, 255, 0.25);
}

html:has(dialog[open]) {
  overflow: hidden;
}

body {
  nav,
  section,
  h2 {
    padding-top: 4rem;
  }

  article,
  h1 {
    padding-bottom: 4rem;
  }

  article h2 {
    padding-top: 0;
  }

  h2,
  h3,
  ul {
    padding-bottom: 1rem;
  }

  p {
    line-height: 185%;
    padding-bottom: 1.5rem;
  }

  p:last-of-type {
    padding-bottom: 0;
  }

  ul {
    line-height: 175%;
  }

  figure {
    position: relative;
  }

  u {
    border-bottom-color: var(--foreground);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 3px;
    text-decoration: none;
  }

  small {
    color: var(--foreground);
    display: block;
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
    padding-block: 0.25rem;
  }

  button {
    cursor: pointer;
  }

  hr {
    width: 1rem;
    margin-top: 1.75rem;
    padding-top: 1.75rem;
    border-color: var(--foreground);
  }

  dialog {
    color: var(--foreground);
    padding-inline: 1.5rem;
    opacity: 0;
    outline: 0;
    overflow-x: visible !important;
    overflow-y: scroll;
    transition: all 0.3s ease-in-out;
    width: 100%;
    z-index: 9999;
  }

  dialog::backdrop {
    background: var(--background);
    opacity: 0;
    outline: 0;
    transition: all 0.3s ease-in-out;
  }

  dialog.is-active {
    opacity: 1;
  }

  dialog.is-active::backdrop {
    backdrop-filter: blur(2.5rem);
    opacity: 1;
  }

  progress {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border-radius: 0.5rem;
    height: 0.25rem;
    width: 100%;
  }

  progress::-webkit-progress-bar {
    background-color: transparent;
  }

  progress::-webkit-progress-value,
  progress::-moz-progress-bar {
    background-color: var(--foreground);
    border-radius: 0.5rem;
  }

  img {
    border-radius: .5rem;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  dl {
    column-gap: calc(var(--spacing) * 6);
    display: grid;
    gap: calc(var(--spacing) * 3);
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  h1 strong {
    font-size: 1.375rem;
    line-height: 150%;
  }

  dialog > h2 {
    font-size: 1.375rem;
    line-height: 140%;
  }

  /* third-party package styling  */

  .leaflet-bar {
    border: 0 !important;
  }

  .leaflet-control {
    margin: 0 !important;
    padding-right: 1rem;
  }

  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out {
    background: transparent !important;
    border: 0 !important;
    color: #1b1b1b !important;
  }

  .leaflet-control-attribution {
    visibility: hidden;
  }

  .leaflet-container {
    background: transparent;
  }

  .leaflet-tile-container .leaflet-tile {
    border-radius: 0;
  }

  .leaflet-gesture-handling-scroll-warning:after,
  .leaflet-gesture-handling-touch-warning:after {
    font-size: 1rem;
    text-align: center;
  }

  .apexcharts-tooltip {
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
    color: var(--foreground);
    font-size: 0.8rem;
    font-weight: 400;
    padding-right: 0.6rem !important;
    padding-top: 0.4rem !important;
  }
}

@media (min-width: 48rem) {
  body {
    h1 strong {
      font-size: 1.25rem;
      line-height: 125%;
    }

    dialog > h2 {
      font-size: 1.25rem;
      line-height: 125%;
    }

    small {
      font-size: var(--text-xs);
      line-height: var(--tw-leading, var(--text-xs--line-height));
    }

    dialog {
      padding-inline: 0;
    }

    dialog::backdrop {
      background: var(--dialog);
      backdrop-filter: blur(0);
    }
  }
}

@supports (color: color-mix(in lab, red, red)) {
  body {
    small {
      color: color-mix(in oklab, currentcolor 70%, transparent);
    }

    hr {
      border-color: color-mix(in oklab, var(--foreground) 50%, transparent);
    }
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
