@import "tailwindcss";

:root {
  --background: #1c1917;
  --foreground: #ffffff;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
}

@theme {
  --breakpoint-5xs: 19.0625rem; /* 305 px */
  --breakpoint-4xs: 20.9375rem; /* 335 px */
  --breakpoint-3xs: 25.625rem; /* 410px */
  --breakpoint-2xs: 30rem; /* 480px */
  --breakpoint-xs: 33.125rem; /* 530px */

  --text-tiny: 0.625rem;
  --max-w-8xl: 100rem;

  --animate-scale-enter: scaleEnter .75s cubic-bezier(0.25, 0.1, 0.25, 1) 1;
  --animate-scale-leave: scaleLeave .75s cubic-bezier(0.25, 0.1, 0.25, 1) 1;

  --animate-slide-in-left: slideInLeft .75s ease-out 1;
  --animate-slide-in-right: slideInRight .75s ease-out 1;
  --animate-slide-in-up: slideInUp .75s ease-out 1;
  --animate-slide-in-down: slideInDown .75s ease-out 1;

  --animate-slide-out-left: slideOutLeft .4s ease-in 1 forwards;
  --animate-slide-out-right: slideOutRight .4s ease-in 1 forwards;
  --animate-slide-out-up: slideOutUp .4s ease-in 1 forwards;
  --animate-slide-out-down: slideOutDown .4s ease-in 1 forwards;

  --animate-slide-in-left-text: .4s slideInLeftText .2s ease-out 1 forwards;
  --animate-slide-in-right-text: .4s slideInRightText .2s ease-out 1 forwards;
  --animate-slide-in-up-text: .4s slideInUpText .2s ease-out 1 forwards;
  --animate-slide-in-down-text: .4s slideInDownText .3s ease-out 1 forwards;

  @keyframes scaleEnter {
    0% { transform: scale(.8); }
    100% { transform: scale(1); }
  }

  @keyframes scaleLeave {
    0% { transform: scale(1); }
    100% { transform: scale(.8); }
  }

  @keyframes slideInLeft {
    0% { opacity: 0; transform: translateX(-100%); }
    100% { opacity: 100; transform: translateX(0); }
  }

  @keyframes slideInLeftText {
    0% { opacity: 0; transform: translateX(-50%); }
    100% { opacity: 100; transform: translateX(0); }
  }

  @keyframes slideOutLeft {
    0% { opacity: 100; transform: translateX(0); }
    100% { opacity: 50; transform: translateX(-100%); }
  }

  @keyframes slideInRight {
    0% { opacity: 0; transform: translateX(100%); }
    100% { opacity: 100; transform: translateX(0); }
  }

  @keyframes slideInRightText {
    0% { opacity: 0; transform: translateX(50%); }
    100% { opacity: 100; transform: translateX(0); }
  }

  @keyframes slideOutRight {
    0% { opacity: 100; transform: translateX(0); }
    100% { opacity: 50; transform: translateX(100%); }
  }

  @keyframes slideInUp {
    0% { opacity: 0; transform: translateY(100%); }
    100% { opacity: 100; transform: translateY(0); }
  }

  @keyframes slideInUpText {
    0% { opacity: 0; transform: translateY(50%); }
    100% { opacity: 100; transform: translateY(0); }
  }

  @keyframes slideOutUp {
    0% { opacity: 100; transform: translateY(0); }
    100% { opacity: 50; transform: translateY(100%); }
  }

  @keyframes slideInDown {
    0% { opacity: 0; transform: translateY(-100%); }
    100% { opacity: 100; transform: translateY(0); }
  }

  @keyframes slideInDownText {
    0% { opacity: 0; transform: translateY(-50%); }
    100% { opacity: 100; transform: translateY(0); }
  }

  @keyframes slideOutDown {
    0% { opacity: 100; transform: translateY(0); }
    100% { opacity: 50; transform: translateY(-100%); }
  }
}

body {
  background: var(--background);
  color: var(--foreground);

  ::selection {
    color: var(--background);
    background: var(--foreground);
  }

  select {
    -webkit-appearance: none;
  }

  button[type="button"] {
    text-align: left;
  }

  #all-routes .leaflet-tile-pane {
    display: none;
  }

  #all-routes .leaflet-tooltip {
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: transparent;
    padding: 0;
    transition: opacity 0.25s ease-in;
    white-space: unset;
  }

  #all-routes .leaflet-tooltip-left {
    margin-right: 1rem;
  }

  #all-routes .leaflet-tooltip-right {
    margin-left: 1rem;
  }

  #all-routes .leaflet-tooltip-top {
    margin-bottom: 1rem;
  }

  #all-routes .leaflet-tooltip-bottom {
    margin-top: 1rem;
  }

  #all-routes .leaflet-tooltip-left:before {
    display: none;
  }

  #all-routes .leaflet-tooltip-right:before {
    display: none;
  }

  #all-routes .leaflet-tooltip-top:before {
    display: none;
  }

  #all-routes .leaflet-tooltip-bottom:before {
    display: none;
  }

  #all-routes {
    overflow: visible;
  }

  .leaflet-container {
    background: var(--background);
  }

  .leaflet-control-attribution {
    visibility: hidden;
  }

  @media screen and (max-width: 768px) {
    #all-routes {
      overflow: hidden;
    }

    #all-routes .leaflet-tooltip {
      position: absolute !important;
      bottom: 3rem !important;
      left: 0 !important;
      width: 100%;
      transform: none !important;
    }

    #all-routes .leaflet-tooltip-left {
      margin-right: 0 !important;
    }

    #all-routes .leaflet-tooltip-right {
      margin-left: 0 !important;
    }

    #all-routes .leaflet-tooltip-top {
      margin-bottom: 0 !important;
    }

    #all-routes .leaflet-tooltip-bottom {
      margin-top: 0 !important;
    }

    #all-routes .leaflet-map-pane,
    #all-routes .leaflet-tooltip-pane {
      position: relative;
      height: 100%;
      pointer-events: none;
    }
  }
}
