@use 'src/normalize';
@use 'src/_mixins' as *;

$background-color-light: #ffffff;
$background-color-dark: #1d1d1d;
$background-color: var(--background-color);

$background-dots-color-light: #bababa;
$background-dots-color-dark: #555555;
$background-dots-color: var(--background-dots-color);

.theme-light {
  --background-color: #{$background-color-light};
  --background-dots-color: #{$background-dots-color-light};
}

.theme-dark {
  --background-color: #{$background-color-dark};
  --background-dots-color: #{$background-dots-color-dark};
}

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
  scrollbar-width: 0;
}

*::-webkit-scrollbar {
  display: none;
  height: 0;
  width: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: anti-aliased;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body, html {
  background-color: $background-color;
  font-family: "Lato";
  height: 100%;
  width: 100%;

  &.unscrollable {
    overflow: hidden;
  }
}

main {
  background: $background-color;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .section {
    min-height: 100%;
    overflow: hidden;
    position: relative;
    scroll-snap-align: start;
    transition: all .5s ease-in-out;
  }

  a {
    align-items: center;
    display: flex;

    svg {
      height: 11px;
      margin-left: 5px;
      width: 11px;
    }
  }

  &.no-snap {
    .section {
      scroll-snap-align: none;
    }
  }

  &.no-scroll {
    overflow: hidden;
  }
}
