@use 'scss/normalize';
@use 'scss/themes' as *;

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
  scrollbar-width: 0;
}

*::-webkit-scrollbar {
  display: none;
  height: 0;
  width: 0;
}

html {
  -ms-overflow-style: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  line-height: 1;
  text-rendering: anti-aliased;
  scrollbar-width: none;
}

body, html {
  background-color: transparent;
  font-family: "Lato";
  height: 100%;
  transition: background-color .3s ease;
  width: 100%;
}

body {
  margin: 0;

  .loading {
    background: #1d1d1d;
    content: ' ';
    display: none; // block
    inset: 0;
    opacity: 1;
    position: fixed;
    transition: all .3s ease .3s;
    visibility: visible;
    z-index: 99999;

    svg {
      bottom: 0;
      height: 128px;
      position: absolute;
      width: 100%;

      path {
        animation: waves 25s cubic-bezier(.55, .5, .45, .5) infinite;
      }

      path:nth-child(1) {
        animation-delay: -2s;
        animation-duration: 7s;
      }

      path:nth-child(2) {
        animation-delay: -3s;
        animation-duration: 10s;
      }

      path:nth-child(3) {
        animation-delay: -4s;
        animation-duration: 13s;
      }

      path:nth-child(4) {
        animation-delay: -5s;
        animation-duration: 20s;
      }
    }
  }

  &.theme-dark {
    background-color: map-get(map-get($themes, "dark"), "body");
  }

  &.theme-light {
    background-color: map-get(map-get($themes, "light"), "body");
  }

  &.theme-dark,
  &.theme-light {
    .loading {
      opacity: 0;
      visibility: hidden;
    }
  }

  [imagelessable="true"],
  [monochromeable="true"] {
    transition: all .5s ease;
  }

  [imagelessable="true"] {
    div {
      inset: 0;
      position: absolute;
      z-index: 0;
    }

    img {
      position: relative;
      transition: all .5s ease;
      z-index: 1;
    }
  }

  &.settings-monochrome {
    [monochromeable="true"] {
      filter: grayscale(100%);
    }
  }

  &.settings-imageless {
    [imagelessable="true"] {
      img {
        opacity: 0;
      }
    }
  }
}

main {
  height: 100%;
  width: 100%;

  a {
    align-items: center;
    display: flex;

    svg {
      height: 8px;
      margin-left: 4px;
      width: 8px;
    }
  }

  button {
    background: transparent;
    border: none;
    cursor: pointer;
    line-height: 1;
    padding: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
  }

  img {
    opacity: 1;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

@keyframes waves {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}
