@use 'scss/normalize';
@use 'scss/themes' as *;

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
  scrollbar-width: 0;
}

*::-webkit-scrollbar {
  display: none;
  height: 0;
  width: 0;
}

html {
  -ms-overflow-style: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  line-height: 1;
  text-rendering: anti-aliased;
  scrollbar-width: none;
}

body, html {
  background-color: transparent;
  font-family: "Lato";
  height: 100%;
  transition: background-color .3s ease;
  width: 100%;
}

body {
  margin: 0;

  .loading {
    background: #ffffff;
    content: ' ';
    display: none; // block
    inset: 0;
    opacity: 1;
    position: fixed;
    transition: all .3s ease .3s;
    visibility: visible;
    z-index: 99999;
  }

  &.theme-dark {
    background-color: map-get(map-get($themes, "dark"), "body");
  }

  &.theme-light {
    background-color: map-get(map-get($themes, "light"), "body");
  }

  &.theme-dark,
  &.theme-light {
    .loading {
      opacity: 0;
      visibility: hidden;
    }
  }

  [imagelessable="true"],
  [monochromeable="true"] {
    transition: all .5s ease;
  }

  [imagelessable="true"] {
    div {
      inset: 0;
      position: absolute;
      z-index: 0;
    }

    img {
      position: relative;
      transition: all .5s ease;
      z-index: 1;
    }
  }

  &.settings-monochrome {
    [monochromeable="true"] {
      filter: grayscale(100%);
    }
  }

  &.settings-imageless {
    [imagelessable="true"] {
      img {
        opacity: 0;
      }
    }
  }
}
