@use 'scss/normalize';
@use 'scss/themes' as *;

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
  scrollbar-width: 0;
}

*::-webkit-scrollbar {
  display: none;
  height: 0;
  width: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: anti-aliased;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body, html {
  font-family: "Lato";
  height: 100%;
  width: 100%;

  &.theme-dark {
    background-color: map-get(map-get($themes, "dark"), "body");
  }

  &.theme-light {
    background-color: map-get(map-get($themes, "light"), "body");
  }
}

main {
  height: 100%;
  width: 100%;

  a {
    align-items: center;
    display: flex;

    svg {
      height: 11px;
      margin-left: 5px;
      width: 11px;
    }
  }
}
