$themes: (
  "dark": (
    body: #1d1d1d,
    logo-block: #ffffff,
    logo-block-cutout: #1d1d1d transparent transparent transparent,
    border: #3d3d3d,
    text: #ffffff,
    text-hover: #8d8d8d,
    checkbox: #dddddd,
  ),
  "light": (
    body: #ffffff,
    logo-block: #3d3d3d,
    logo-block-cutout: #ffffff transparent transparent transparent,
    border: #dddddd,
    text: #5d5d5d,
    text-hover: #000000,
    checkbox: #dddddd,
  ),
);
