@use 'styles/mixins/_screen' as screen;

.checklist {
  display: grid;
  grid-auto-rows: 1rem;
  grid-gap: 0.25rem;
  grid-template-columns: repeat(3, minmax(calc(33% - 0.5rem), 1fr));
  list-style-type: none;
  margin: 3rem auto 2rem;
  padding: 0;

  .item {
    grid-row: span 2;
    padding-left: 1.75rem;
    position: relative;

    &:before {
      color: var(--checkmark);
      content: '\e5ca';
      display: inline-block;
      font-family: var(--material);
      font-size: 1.5rem;
      left: 0;
      position: absolute;
      top: -2px;
    }
  }

  @include screen.small {
    grid-template-columns: repeat(1, minmax(calc(100% - 0.5rem), 1fr));
    margin: 2rem auto 1rem;

    .item {
      grid-row: span 2;
    }
  }
}
