@use 'styles/mixins/_on' as on;
@use 'styles/mixins/_screen' as screen;

.stats {
  display: flex;
  flex-direction: row;
  height: auto !important;
  justify-content: center;
  margin: 4rem auto 2rem;
  position: relative;
  width: 100%;

  .stat {
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 2.5rem;
    text-align: center;

    small {
      display: inline-block;
      font-size: 1rem;
      padding-left: 0.25rem;
    }

    .label {
      display: block;
      font-size: 0.75rem;
      font-weight: 400;
      margin-top: 0.65rem;
      text-transform: uppercase;
    }
  }

  @include screen.small {
    display: grid;
    grid-auto-rows: 2.5rem;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, minmax(calc(50% - 2rem), 1fr));
    margin: 3rem auto 2.5rem;

    .stat {
      font-size: 1.75rem;
      grid-row: span 1;
      letter-spacing: -0.1rem;
      margin: 0 1rem;

      small {
        letter-spacing: 0;
      }

      .label {
        font-size: 0.9rem;
        letter-spacing: 0;
        margin-top: 0.5rem;
      }
    }
  }
}

.external {
  margin-bottom: 3rem;
  position: relative;
  text-align: center;

  .garmin {
    display: block;
    font-size: 0.7rem;
    text-transform: uppercase;

    @include on.hover {
      text-decoration: underline;
    }
  }

  @include screen.small {
    .garmin {
      font-size: 0.9rem;
    }
  }
}
