@use 'src/_mixins' as *;

$title-text-color-dark: #ffffff;
$title-text-color-light: #ffffff;
$title-text-color: var(--title-text-color);

$title-small-text-color-dark: #ffffff;
$title-small-text-color-light: #ffffff;
$title-small-text-color: var(--title-small-text-color);

$number-text-color-dark: rgba(255, 255, 255, 0.85);
$number-text-color-light: rgba(255, 255, 255, 0.85);
$number-text-color: var(--number-text-color);

.theme-light {
  --title-text-color: #{$title-text-color-light};
  --title-small-text-color: #{$title-small-text-color-light};
  --number-text-color: #{$number-text-color-light};
}

.theme-dark {
  --title-text-color: #{$title-text-color-dark};
  --title-small-text-color: #{$title-small-text-color-dark};
  --number-text-color: #{$number-text-color-dark};
}

#trips {
  .section {
    overflow: hidden;

    figure {
      align-items: center;
      background: transparent;
      display: flex;
      height: 100%;
      justify-content: center;
      margin: 0;
      overflow: hidden;
      padding: 0;
      position: relative;
      transition: all .3s ease-in-out;
      width: 100%;

      .background {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
        box-shadow: 0px 10px 50px #111;
        inset: 60px 200px;
        position: absolute;
        transition: all .5s ease-in-out;
        z-index: 3;

        &.blurred {
          border-radius: 0;
          inset: 0;
          transform: scale(1);
          z-index: 2;

          &::after {
            background-image: inherit;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            content: ' ';
            filter: blur(5px);
            inset: -5px;
            position: absolute;
            transition: all .5s ease-in-out;
            z-index: 1;
          }
        }
      }

      figcaption {
        color: $title-text-color;
        font: 900 58px Montserrat;
        height: auto;
        letter-spacing: 25px;
        max-width: 700px;
        min-width: 430px;
        position: relative;
        text-align: center;
        text-indent: 25px;
        text-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
        text-transform: uppercase;
        transition: all .3s ease-in-out;
        z-index: 4;

        .title {
          display: block;
        }

        .location,
        .stats {
          color: $title-small-text-color;
          display: block;
          font: 500 14px Montserrat;
          letter-spacing: 15px;
          line-height: 28px;
          position: absolute;
          text-align: center;
          width: 100%;
        }

        .location {
          text-indent: 15px;
          top: -50px;
        }

        .stats {
          bottom: -50px;
          font: 500 15px Montserrat;
          letter-spacing: 10px;
          text-indent: 10px;
        }
      }
    }

    .number {
      bottom: 25px;
      color: $number-text-color;
      font: 500 15px Montserrat;
      line-height: 100%;
      position: absolute;
      right: 30px;
      text-align: center;
      text-transform: uppercase;
      width: 30px;
      z-index: 2;
    }
  }

  @include medium-screen {
    .section {
      figure {
        .background {
          &:not(.blurred) {
            inset: 70px 120px;
          }
        }

        figcaption {
          font: 900 44px Montserrat;
          letter-spacing: 20px;
        }
      }
    }
  }

  @include small-screen {
    .section {
      figure {
        .background {
          &:not(.blurred) {
            inset: 80px 40px;
          }
        }

        figcaption {
          font: 900 26px Montserrat;
          line-height: 150%;
          letter-spacing: 3px;
          max-width: 100%;
          min-width: 100%;
          padding: 0 40px;
          text-indent: 3px;
          width: 100%;

          .location,
          .stats {
            display: block;
            font: 500 10px Montserrat;
            letter-spacing: 3px;
            position: relative;
            text-indent: 3px;
          }

          .location {
            top: -15px;
          }

          .stats {
            bottom: -15px;
            letter-spacing: 3px;
            text-indent: 3px;
          }
        }

        &:active {
          user-select: none;

          .background {
            &:not(.blurred) {
              transform: scale(.75);
            }
          }
        }
      }

      .number {
        bottom: 10px;
        right: 10px;
      }
    }
  }
}
