@use 'src/_mixins' as *;

$title-text-color-dark: #ffffff;
$title-text-color-light: #ffffff;
$title-text-color: var(--title-text-color);

$title-small-text-color-dark: #ffffff;
$title-small-text-color-light: #ffffff;
$title-small-text-color: var(--title-small-text-color);

$number-text-color-dark: rgba(255, 255, 255, 0.85);
$number-text-color-light: rgba(255, 255, 255, 0.85);
$number-text-color: var(--number-text-color);

.theme-light {
  --title-text-color: #{$title-text-color-light};
  --title-small-text-color: #{$title-small-text-color-light};
  --number-text-color: #{$number-text-color-light};
}

.theme-dark {
  --title-text-color: #{$title-text-color-dark};
  --title-small-text-color: #{$title-small-text-color-dark};
  --number-text-color: #{$number-text-color-dark};
}

#trips {
  .section {
    figure {
      align-items: center;
      background: transparent;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      filter: grayscale(35%);
      height: 100vh;
      justify-content: center;
      margin: 0;
      overflow: hidden;
      padding: 0;
      position: relative;
      transition: all .3s ease-in-out;
      width: 100%;

      figcaption {
        color: $title-text-color;
        font: 900 60px Montserrat;
        height: auto;
        letter-spacing: 25px;
        max-width: 700px;
        min-width: 430px;
        position: relative;
        text-align: center;
        text-indent: 25px;
        text-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
        text-transform: uppercase;
        transition: all .3s ease-in-out;

        .title {
          display: block;
        }

        .location,
        .stats {
          color: $title-small-text-color;
          display: block;
          font: 500 14px Montserrat;
          letter-spacing: 15px;
          line-height: 28px;
          position: absolute;
          text-align: center;
          width: 100%;
        }

        .location {
          text-indent: 15px;
          top: -50px;
        }

        .stats {
          bottom: -50px;
          font: 500 15px Montserrat;
          letter-spacing: 10px;
          text-indent: 10px;
        }
      }
    }

    .number {
      bottom: 25px;
      color: $number-text-color;
      font: 500 15px Montserrat;
      line-height: 100%;
      position: absolute;
      right: 30px;
      text-align: center;
      text-transform: uppercase;
      width: 30px;
    }
  }

  @include small-screen {
    .section {
      figure {
        align-items: center;

        figcaption {
          font: 900 32px Montserrat;
          line-height: 150%;
          letter-spacing: 10px;
          max-width: 100%;
          min-width: 100%;
          padding: 0;
          text-indent: 10px;
          width: 100%;

          .location,
          .stats {
            display: block;
            font: 500 10px Montserrat;
            letter-spacing: 10px;
            position: relative;
            text-indent: 10px;
          }

          .location {
            top: -25px;
          }

          .stats {
            bottom: -25px;
            letter-spacing: 6px;
            text-indent: 6px;
          }
        }
      }

      .number {
        bottom: 10px;
        right: 10px;
      }
    }
  }
}
