@use 'styles/mixins/_screen' as screen;

.form {
  display: flex;
  flex-direction: column;

  .label {
    margin-bottom: 0.5rem;
  }

  .input {
    background: var(--body);
    border: 1px solid var(--border);
    border-radius: 0.125rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
  }

  .textarea {
    background: var(--body);
    border: 1px solid var(--border);
    border-radius: 0.125rem;
    font-family: var(--text-font);
    margin-bottom: 1rem;
    padding: 0.5rem;
    resize: none;
  }

  .submit {
    background: var(--text);
    border-radius: 0.25rem;
    color: var(--body);
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 1rem;
    padding: 1rem;
    text-transform: uppercase;
  }

  @include screen.small {
    .submit {
      font-size: 1rem;
    }
  }
}
