.form {
  display: flex;
  flex-direction: column;

  .label {
    margin-bottom: 0.5rem;
  }

  .input {
    border: 1px solid var(--border);
    border-radius: 0.125rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
  }

  .textarea {
    border: 1px solid var(--border);
    border-radius: 0.125rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
  }

  button[type='submit'] {
    padding: 1rem 0;
  }
}
