@use 'styles/mixins/_on' as on;
@use 'styles/mixins/_screen' as screen;

.footer {
  margin-top: 2rem;

  .columns {
    display: flex;
    grid-gap: 1.25rem;
    margin: 0 auto 1rem;
    max-width: var(--max-width);
    position: relative;

    .column {
      flex: 1;

      h2 {
        margin-bottom: 1.875rem;
        padding-top: 2.5rem;
        position: relative;

        &:before {
          background: var(--footer-columns-header-before-background);
          content: '';
          height: 1px;
          left: 0;
          position: absolute;
          top: 0;
          width: 50px;
          z-index: 1;
        }

        &:after {
          background: var(--footer-columns-header-after-background);
          content: '';
          height: 1px;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
        }
      }

      p {
        margin-bottom: 2rem;
      }

      .categories {
        display: block;
        margin-block-end: 0;
        margin-block-start: 0;
        margin-bottom: 1.875rem;

        dt {
          margin-bottom: 0.25rem;
        }
      }

      .recent {
        display: flex;
        flex-direction: row;
        margin-bottom: 1.25rem;
        margin-left: 0.25rem;
        position: relative;

        .image {
          height: 5rem;
          margin-right: 0.75rem;
          width: 5rem;
        }

        .count {
          background: var(--text);
          border-radius: 50%;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
          color: var(--body);
          display: block;
          font-size: 12px;
          height: 20px;
          left: -4px;
          line-height: 20px;
          position: absolute;
          text-align: center;
          top: -11px;
          width: 20px;
        }

        .caption {
          display: block;
          flex: 1;
          position: relative;

          .date {
            display: block;
            font-size: 0.9rem;
            margin-bottom: 0.3rem;
            margin-top: 0.15rem;
          }

          .heading {
            font-weight: 700;
            line-height: 1.15rem;

            .title {
              transition: all 0.4s ease-in-out;

              @include on.hover {
                box-shadow:
                  0 -1px var(--body) inset,
                  0 -3px var(--travels-title-hover) inset;
              }
            }
          }
        }
      }
    }
  }

  .links {
    background: var(--footer-background);
    justify-content: center;
    padding-top: 2rem;
    width: 100%;

    .link {
      background: var(--footer-shortcut-link-background);
      position: relative;

      svg {
        fill: var(--footer-shortcut-link-icon);
        position: relative;
        top: 0.1rem;
      }

      &:nth-child(1),
      &:nth-child(3) {
        svg {
          top: 0;
        }
      }

      &:nth-child(2) {
        svg {
          top: -0.15rem;
        }
      }

      @include on.hover {
        background: var(--footer-shortcut-link-hover-background);

        svg {
          fill: var(--footer-shortcut-link-hover-icon);
        }
      }
    }
  }

  .bottom {
    align-items: center;
    background: var(--footer-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0 3rem;

    .copyright {
      color: var(--copyright-text-dim);
      display: block;
      font-size: 0.775rem;
      text-align: center;

      a {
        color: var(--copyright-text);

        @include on.hover {
          text-decoration: underline;
        }
      }
    }

    button {
      color: var(--copyright-text);
      font-size: 0.775rem;
      margin-top: 1rem;
    }
  }

  @include screen.large {
    .columns {
      padding: 0 1.25rem;
    }
  }

  @include screen.medium {
    .columns {
      display: grid;
      grid-template-columns: repeat(2, minmax(calc(50% - 2.5rem), 1fr));
      padding: 0 5rem 2rem;

      .column {
        &:last-child {
          grid-column: span 2;
        }
      }
    }
  }

  @include screen.small {
    .columns {
      padding: 0 1rem 2rem;

      .column {
        .recent {
          .caption {
            .date {
              font-size: 1.05rem;
            }
          }
        }
      }
    }

    .links {
      display: none;
    }

    .bottom {
      .copyright {
        font-size: 0.85rem;
        line-height: 1.5rem;
        padding: 0 2rem;
      }
    }
  }

  @include screen.compact {
    .columns {
      display: block;

      .column {
        .recent {
          &:last-child {
            margin-bottom: 2rem;
          }
        }
      }
    }
  }
}
